   <!-- Form Repeater -->
                <div class="col-12">
                  <div class="card">
                    <h5 class="card-header">Form Repeater</h5>
                    <div class="card-body">
                      <form class="form-repeater">
                        <div data-repeater-list="group-a">
                          <div data-repeater-item>
                            <div class="row">
                              <div class="col-12 col-lg-6 col-xl-3 mb-0 mb-3">
                                <label class="form-label" for="form-repeater-1-1">Username</label>
                                <input type="text" id="form-repeater-1-1" class="form-control" placeholder="john.doe" />
                              </div>
                              <div class="col-12 col-lg-6 col-xl-3 mb-0 mb-3">
                                <label class="form-label" for="form-repeater-1-2">Password</label>
                                <input
                                  type="password"
                                  id="form-repeater-1-2"
                                  class="form-control"
                                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                />
                              </div>
                              <div class="col-12 col-lg-6 col-xl-2 mb-0 mb-3">
                                <label class="form-label" for="form-repeater-1-3">Gender</label>
                                <select id="form-repeater-1-3" class="form-select">
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                </select>
                              </div>
                              <div class="col-12 col-lg-6 col-xl-2 mb-0 mb-3">
                                <label class="form-label" for="form-repeater-1-4">Profession</label>
                                <select id="form-repeater-1-4" class="form-select">
                                  <option value="Designer">Designer</option>
                                  <option value="Developer">Developer</option>
                                  <option value="Tester">Tester</option>
                                  <option value="Manager">Manager</option>
                                </select>
                              </div>
                              <div class="d-flex col-12 col-lg-12 col-xl-2 align-items-center mb-0 mb-3">
                                <button class="btn btn-label-danger mt-4" data-repeater-delete>
                                  <i class="bx bx-x"></i>
                                  <span class="align-middle">Delete</span>
                                </button>
                              </div>
                            </div>
                            <hr />
                          </div>
                        </div>
                        <div class="mb-0">
                          <button class="btn btn-primary" data-repeater-create>
                            <i class="bx bx-plus"></i>
                            <span class="align-middle">Add</span>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- /Form Repeater -->
                <!-- build:js assets/vendor/js/core.js -->
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../assets/vendor/libs/hammer/hammer.js"></script>
    <script src="../../assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="../../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/autosize/autosize.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="../../assets/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="../../assets/vendor/libs/jquery-repeater/jquery-repeater.js"></script>

    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../assets/js/forms-extras.js"></script>