<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light">الرئيسية /</span>
            إدارة التراخيص
        </h4>
        <!-- Sticky Actions -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div id="sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 82.75px;">
                        <div class="card-header sticky-element bg-label-secondary  flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                            <h5 class="card-title me-2 mb-sm-0">     تقيد ترخيص فتح مخزن</h5>
                            <div class="dt-action-buttons text-end pt-3 pt-md-0">
                                <div class="dt-buttons">
                                         <a asp-action="AddStore">
                                    <button class="dt-button buttons-collection btn btn-label-primary dropdown-toggle me-2" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="align-middle"> رجوع</span>
                                    </button>
                                    </a>
                                    <a asp-action="Add">
                                        <button class="dt-button create-new btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                                            <span><i class="bx bx-plus me-sm-2"></i> <span class="d-none d-sm-inline-block">  تقيد ترخيص  </span></span>
                                        </button>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <!-- 1. Delivery Address -->
                                <h5 class="mb-4" style="margin-top:38px"> بيانات طالب الترخيص </h5>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="itemNumber"> رقم الترخيص </label>
                                        <div class="input-group input-group-merge">
                                            <input type="number" name="licensesNumber" class="form-control" placeholder="1" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="basicFullname">اسم طالب الترخيص   </label>
                                        <div class="input-group input-group-merge has-validation">

                                            <input type="text" id="basicFullname" class="form-control dt-full-name" name="basicFullname" placeholder="اسم طالب الترخيص" aria-label="John Doe" aria-describedby="basicFullname2" readonly>
                                        </div>
                                        <div class="fv-plugins-message-container invalid-feedback"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> اللقب  </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="اللقب" readonly />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> نوع البطاقة  </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="نوع البطاقة" readonly />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="basicDate">تاريخ الاصدار</label>
                                        <div class="input-group input-group-merge has-validation">
                                            <input type="text"
                                                   required
                                                   class="form-control dt-full-name"
                                                   placeholder="2023/6/2 " readonly />
                                        </div><div class="fv-plugins-message-container invalid-feedback"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> مكان صدورها  </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="مكان صدورها" readonly />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">الجنسية </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="الجنسية" readonly />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> رقم الهاتف </label>
                                        <input type="number"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="رقم الهاتف" readonly />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"> رقم الجوال </label>
                                        <input type="number"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="رقم الجوال" readonly />
                                        <span class="text-danger"></span>

                                    </div>

                                    <hr>
                                    <h5 class="offcanvas-title"> بيانات فتح المخزن </h5>
                                    <div class="col-md-6">
                                        <label class="form-label" for="itemNumber"> رقم المخزن </label>
                                        <div class="input-group input-group-merge">
                                            <input type="number" name="storeNumber" class="form-control" placeholder="1" readonly />
                                        </div>
                                    </div>
                                    <h5 class="offcanvas-title" id="exampleModalLabel"> عنوان المخزن   </h5>
                                    <div class="col-sm-6 fv-plugins-icon-container">
                                        <label class="form-label"> المحافظة  </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="المحافظة" readonly />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-6 fv-plugins-icon-container">
                                        <label class="form-label">المديرية </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="المديرية" readonly />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6 fv-plugins-icon-container">
                                        <label class="form-label"> أمام  </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="أمام" readonly />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-6 fv-plugins-icon-container">
                                        <label class="form-label">شارع </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="شارع" readonly />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-6 fv-plugins-icon-container">
                                        <label class="form-label"> جوار </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="جوار" readonly />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-6 fv-plugins-icon-container">

                                        <label class="form-label" for="basicDate">تاريخ طالب الترخيص</label>
                                        <div class="input-group input-group-merge has-validation">
                                            <span id="basicDate2" class="input-group-text">
                                                <i class="bx bx-calendar"></i>
                                            </span>
                                            <input type="text"
                                                   required
                                                   class="form-control dt-full-name"
                                                   placeholder="2023/6/2 " readonly />
                                        </div><div class="fv-plugins-message-container invalid-feedback"></div>
                                    </div>
                                    <div class="col-sm-6 fv-plugins-icon-container">
                                        <label class="form-label">  حالة فتح  المخزن </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="حالة فتح المخزن" readonly />
                                        <span class="text-danger"></span>
                                    </div>
                                    <hr>


                                    <!-- 2. Delivery Type -->
                                    <h5 class="offcanvas-title" id="exampleModalLabel">بيانات السجل التجاري  </h5>


                                    <div class="col-sm-6">
                                        <label class="form-label"> الاسم  </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="  الاسم " readonly />
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label"> رقم السجل التجاري   </label>
                                        <input type="number"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder=" 1234 " readonly />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="form-label"> الفئة  </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="    تصدير" readonly />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-6 fv-plugins-icon-container">
                                        <label class="form-label"> مكان النشاط  </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="  صنعاء     " readonly />
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-6 fv-plugins-icon-container">
                                        <label class="form-label" for="basicDate">تاريخ الاصدار</label>
                                        <div class="input-group input-group-merge has-validation">
                                            <span id="basicDate2" class="input-group-text">
                                                <i class="bx bx-calendar"></i>
                                            </span>
                                            <input type="text"
                                                   required
                                                   class="form-control dt-full-name"
                                                   placeholder="2023/6/2 " readonly />
                                        </div>
                                        <div class="fv-plugins-message-container invalid-feedback"></div>
                                    </div>

                                    <div class="col-sm-6 fv-plugins-icon-container">
                                        <label class="form-label"> الاسم التجاري  </label>
                                        <input type="text"
                                               required
                                               class="form-control dt-full-name"
                                               placeholder="الاسم التجاري" readonly />
                                        <span class="text-danger"></span>
                                    </div>

                                    <hr />

                                    <div class="col-sm-6">
                                        <label class="form-label">  حالة ترخيص   </label>
                                        <select id="Cardtype" name="Cardtype" class="form-select">
                                            <option value=NULL> يرجى اختيار حالة ترخيص </option>
                                            <option value="5">موافق</option>
                                            <option value="6"> غير موفق </option>



                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Sticky Actions -->
    </div>



    <div class="content-backdrop fade"></div>
</div>

<div class="offcanvas offcanvas-end show" id="add-new-record" style="visibility: visible;" aria-modal="true" role="dialog">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">   تقيد طالب ترخيص فتح مخزن   </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">

        <form asp-action="Add" class="add-new-record row g-2 pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="form-add-new-record" onsubmit="return false" novalidate="novalidate">


            <label class="form-label"> المرجع النوعي  </label>
            <div class="col-sm-12">
                <label class="form-label"> رسوم القيد البالغة </label>
                <div class="input-group input-group-merge">
                    <input type="number" id="VNumber" name="VNumber" class="form-control" placeholder="المبلغ ريال" />
                </div>
            </div>

            <label class="form-label">   بموجب قسيمة </label>
            <div class="col-sm-6 fv-plugins-icon-container">
                <label class="form-label"> رقم الفاتورة </label>
                <input type="number"
                       required
                       class="form-control dt-full-name"
                       placeholder="   رقم الفاتورة" />
                <span class="text-danger"></span>
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>


            <div class="col-sm-6">

                <label class="form-label" for="basicDate">تاريخ التسديد</label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicDate2" class="input-group-text">
                        <i class="bx bx-calendar"></i>
                    </span>
                    <input type="date" class="form-control dt-date flatpickr-input"
                           id="eventStartDate"
                           name="eventStartDate"
                           aria-describedby="basicDate2"
                           placeholder="MM/DD/YYYY"
                           aria-label="MM/DD/YYYY"
                          >
                </div><div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <label class="form-label"> وتم قيد التاجر بالمرجع النوعي فئة </label>
          
             <div class="col-sm-6">
                <label class="form-label" for="Category">   الفئة</label>
                <select id="Category" name="Category" class="form-select">
              <option value=NULL>يرجى اختيار الفئة</option>
                    <option value="1"> تصدير </option>
                    <option value="2">   استيراد </option>
                    <option value="3">  مقاولات </option>
                </select>
            </div>
            <div class="col-sm-6 fv-plugins-icon-container">
                <label class="form-label"> برقم  </label>
                <input type="number"
                       required
                       class="form-control dt-full-name"
                       placeholder="   برقم " />
                <span class="text-danger"></span>

            </div>
             <label class="form-label" for="basicDate">يعمل بهذا   </label>
           @*    <div class="mb-3">
                            <label class="form-label" for="eventStartDate"> من تاريخ</label>
                            <input
                              type="date"
                              class="form-control"
                              id="eventStartDate"
                              name="eventStartDate"
                              placeholder="Start Date"
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="eventEndDate"> الى تاريخ</label>
                            <input
                              type="date"
                              class="form-control"
                              id="eventEndDate"
                              name="eventEndDate"
                              placeholder="End Date"
                            />
                          </div>*@
            <div class="col-sm-6 fv-plugins-icon-container">

                <label class="form-label" for="eventStartDate">من تاريخ  </label>
                <div class="input-group input-group-merge has-validation">
                    <span id="eventStartDate" class="input-group-text"><i class="bx bx-calendar"></i></span>
                    <input type="date" class="form-control dt-date flatpickr-input" id="eventStartDate" name="eventStartDate" aria-describedby="basicDate2" placeholder="MM/DD/YYYY" aria-label="MM/DD/YYYY" >
                </div><div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="col-sm-6 fv-plugins-icon-container">

                <label class="form-label" for="eventEndDate">الى تاريخ   </label>
                <div class="input-group input-group-merge has-validation">
                    <span id="eventEndDate" class="input-group-text"><i class="bx bx-calendar"></i></span>
                    <input type="date" class="form-control dt-date flatpickr-input" id="basicDate" name="eventEndDate" aria-describedby="eventEndDate" placeholder="MM/DD/YYYY" aria-label="MM/DD/YYYY" >
                </div><div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label">   اسم المختص </label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicFullname2" class="input-group-text">

                    </span>
                    <input type="text" id="basicFullname" class="form-control dt-full-name" name="basicFullname" placeholder=" اسم المختص   " aria-label="John Doe" aria-describedby="basicFullname2">
                </div>
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

               <div class="col-sm-12">
                <label class="form-label" for="StateStore">  حالة القيد</label>
                <select id="StateStore" name="StateStore" class="form-select">
            <option value=NULL>يرجى اختيار حالة القيد</option>
                    <option value="True"> نشط </option>
                    <option value="False"> غير نشط </option>
                </select>
            </div>

            <div class="d-grid gap-2 col-13 mx-auto mt-4">
                <button type="submit" class="btn btn-primary " id="type-success" name="submitButton">حفظ</button>
                <button class="btn btn-label-secondary " type="reset" data-bs-dismiss="offcanvas"> إلغاء</button>
            </div>

        </form>
    </div>
</div>
 

    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/fullcalendar/fullcalendar.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="../../assets/vendor/libs/select2/select2.js"></script>
    <script src="../../assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="../../assets/vendor/libs/moment/moment.js"></script>

    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../assets/js/app-calendar-events.js"></script>
    <script src="../../assets/js/app-calendar.js"></script>