<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light">عرض شهادة التراخيص / عرض الترخيض /</span> إدارة التراخيص
        </h4>
        <div class="row gy-4">
            <!-- User Sidebar -->
            <div class="col-md-12 col-lg-12 col-xl-12 order-1 order-md-0">
                <!-- User Card -->
                <div class="card mb-6">
                    <div class="card-body">



                        <div class="card-header text-center">
                            <div class=" row align-items-center mt-5">
                                <div class=" col">
                                    <p>الجمهورية اليمنية</p>
                                    <p>رئاسة مجلس الوزراء </p>
                                    <p>أمانة العاصمة </p>
                                    <p>مكتب  الصناعة و التجارة </p>


                                </div>
                                <div class="col ">
                                    <img src="../../assets/img/branding/logo_2.png" class="rounded mx-auto d-block" /><br>
                                    <h5 class="card-title ">نظام المخازن</h5>
                                    <h6>  شهادة ترخيص فتح مخزن </h6>
                                </div>
                                <div class="col">
                                    <p> Republic of Yemen</p>
                                    <p>Presidency of the Council of Ministers</p>
                                    <p> capital's secretariat</p>
                                    <p>Industry and Trade Office</p>
                                </div>
                            </div>
                        </div>

                        <hr class="alert-info" />
                        <div class=" row justify-content-around py-3 my-4">
                            <div class="user-avatar-section">


                                <div class="card icon-card text-center mx-2 mb-4 cursor-pointer">

                                    <div class="card-body">
                                        <div class="d-flex flex-column align-items-center">
                                            <img class="rounded-circle" src="../../assets/img/avatars/10.JPG" height="110" width="110" alt="User avatar">
                                            <div class="user-info text-center">
                                                <h5 class="mb-2">زياد مريط</h5>
                                                <span class="badge bg-label-secondary">التاجر</span>
                                            </div>

                                        </div>
                                    </div>

                                    <i class="far fa-address-card mb-2"></i>
                                    <p class="icon-name text-truncate text-capitalize mb-0">تفاصيل الترخيص</p>
                                    <hr class="alert-info" />

                                    <div class="row d-flex justify-content-between mb-4">
                                        <div class="col-sm-6 w-50">
                                            <ul class="list-unstyled">
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">رقم  القيد:</span>
                                                    <span>1336</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">اسم طالب الترخيص:</span>
                                                    <span>زياد طارق احمد مريط</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">رسوم القيد البالغة:</span>
                                                    <span>100000</span>
                                                    <hr class="alert-info" />
                                                </li>

                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">  رقم الفاتورة:</span>

                                                    <span>123</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">  تاريخ تسديد الفاتورة:</span>
                                                    <span>2023/5/22</span>
                                                    <hr class="alert-info" />
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 w-50">
                                            <ul class="list-unstyled">
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">    فئة المرجع النوعي:</span>
                                                    <span>تصدير</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">عنوان المخزن:</span>
                                                    <span>صنعاء-امانة العاصمة</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">    تاريخ منح الترخيص  :</span>
                                                    <span>2023/5/22</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">    تاريخ إنتهاء الترخيص  :</span>
                                                    <span>2024/5/22</span>
                                                    <hr class="alert-info" />

                                                </li>

                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">حالة الترخيص:</span>
                                                    <span class="badge bg-label-success">نشط</span>
                                                    <hr class="alert-info" />

                                                </li>





                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center pt-4">
                                        <a asp-action="PrintStoreAthorizationCertificate" class="btn btn-secondary me-3" target="_blank">
                                            طباعة
                                        </a>
                                        <a href="javascript:;" class="btn btn-primary me-3" data-bs-target="#editUser" data-bs-toggle="modal">تجديد</a>
                                        <a href="javascript:;" class="btn btn-label-danger suspend-user">توقيف الترخيص</a>

                                    </div>
                                    <hr />
                                </div>
                            </div>

                        </div>
                        <!--/ Scrollable -->
                        <!-- /User Card -->
                        <!-- Plan Card -->

                    </div>
      
                </div>
          
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/modal-edit-user.js"></script>
<script src="~/assets/js/app-user-view.js"></script>
<script src="~/assets/js/app-user-view-account.js"></script>