
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="breadcrumb-wrapper py-3 mb-4"><span class="text-muted fw-light">إدارة التراخيص   /</span>     عرض تفاصيل ترخيص المخزن</h4>

    <!-- Default -->
    @* <div class="row gy-4">
        <div class="col-12">
        <h5>Default</h5>
        </div>*@
    <!-- Default Icons Wizard -->
    <div class="col-16 " >

        <div class="bs-stepper wizard-icons wizard-icons-example mt-2 ">
            <div class="bs-stepper-header">
                <div class="step" data-target="#account-details">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-icon">
                            <svg viewBox="0 0 54 54">
                                <use xlink:href="../../assets/svg/icons/form-wizard-account.svg#wizardAccount"></use>
                            </svg>
                        </span>
                        <span class="bs-stepper-label">بيانات الرئيسية الصنف</span>
                    </button>
                </div>
                <div class="line">
                    <i class="bx bx-chevron-right"></i>
                </div>
                <div class="step" data-target="#personal-info">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-icon">
                            <svg viewBox="0 0 58 54">
                                <use xlink:href="../../assets/svg/icons/form-wizard-personal.svg#wizardPersonal"></use>
                            </svg>
                        </span>

                        <span class="bs-stepper-label"> بيانات وحدات القياس</span>
                    </button>
                </div>
                <div class="line">
                    <i class="bx bx-chevron-right"></i>
                </div>
                <div class="step" data-target="#address">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-icon">
                            <svg viewBox="0 0 54 54">
                                <use xlink:href="../../assets/svg/icons/form-wizard-address.svg#wizardAddress"></use>
                            </svg>
                        </span>
                        <span class="bs-stepper-label">بيانات الشركة المنتجة </span>
                    </button>
                </div>
                <div class="line">
                    <i class="bx bx-chevron-right"></i>
                </div>
                <div class="step" data-target="#social-links">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-icon">
                            <svg viewBox="0 0 54 54">
                                <use xlink:href="../../assets/svg/icons/form-wizard-social-link.svg#wizardSocialLink"></use>
                            </svg>
                        </span>
                        <span class="bs-stepper-label">معايير الصنف   </span>
                    </button>
                </div>
                <div class="step" data-target="#Commercial_record">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-icon">
                            <svg viewBox="0 0 54 54">
                                <use xlink:href="../../assets/svg/icons/form-wizard-personal.svg#wizardPersonal"></use>
                            </svg>
                        </span>
                        <span class="bs-stepper-label">  بيانات شروط التخزين   </span>
                    </button>
                </div>

                <div class="line">
                    <i class="bx bx-chevron-right"></i>
                </div>
                <div class="step" data-target="#review-submit">
                    <button type="button" class="step-trigger">
                        <span class="bs-stepper-icon">
                            <svg viewBox="0 0 54 54">
                                <use xlink:href="../../assets/svg/icons/form-wizard-submit.svg#wizardSubmit"></use>
                            </svg>
                        </span>
                        <span class="bs-stepper-label"> مراجعة  & اسال</span>
                    </button>
                </div>
            </div>
            <div class="bs-stepper-content card-datatable table-responsive pt-0">
                <form onSubmit="return false">
                    <!-- Account Details -->
                    <div id="account-details" class="content">
                        <div class="content-header mb-3">
                            <h4 class="mb-0">بيانات الرئيسية الصنف</h4>

                        </div>
                        <div class="row g-3">
                            <div class="card-datatable text-nowrap">
                                <table class="dt-scrollableTable table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>مجموعة  الرئيسية</th>
                                            <th>مجموعة  الفرعية أ</th>
                                            <th>مجموعة  الفرعية ب</th>
                                            <th>اسم الصنف</th>
                                            <th>وصف الصنف</th>
                                            <th>كود الصنف</th>
                                            <th>نوع الصنف </th>
                                            <th>السعر</th>
                                            <th>تاريخ أنتاج  </th>
                                            <th>تاريخ إنتهاء </th>
                                            <th>الحد الاعلى</th>
                                            <th>الحد الادنى</th>
                                            <th>حد الطلب</th>
                                            <th>حالة الصنف</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>


                            <div class="d-flex col-12 justify-content-between">
                                <button class="btn btn-label-secondary btn-prev" disabled>
                                    <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                    <span class="d-none d-sm-inline-block">السابق</span>
                                </button>
                                <button class="btn btn-primary btn-next">
                                    <span class="d-none d-sm-inline-block me-sm-1">التالي</span>
                                    <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Personal Info -->
                    <div id="personal-info" class="content">
                        <div class="content-header mb-3">
                            <h4 class="mb-0">بيانات وحدات القياس </h4>

                        </div>
                        <div class="row g-3">

                            <div class="card-datatable text-nowrap">
                                <table class="dt-scrollableTable table table-bordered">
                                    <thead>
                                        <tr>
                                            <th> #</th>
                                            <th>    الوحدة الأساسية   </th>
                                            <th> الوحدة الثانوية </th>
                                            <th> التعبئة </th>


                                        </tr>
                                    </thead>
                                </table>
                            </div>

                            <div class="d-flex col-12 justify-content-between">
                                <button class="btn btn-primary btn-prev">
                                    <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                    <span class="d-none d-sm-inline-block">السابق</span>
                                </button>
                                <button class="btn btn-primary btn-next">
                                    <span class="d-none d-sm-inline-block me-sm-1">التالي</span>
                                    <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Address -->
                    <div id="address" class="content">
                        <div class="content-header mb-3">
                            <h4 class="mb-0">الشركة المنتجة الصنف  </h4>

                        </div>
                        <div class="row g-3">
                            <div class="card-datatable text-nowrap">

                                <table class="dt-scrollableTable table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>اسم الماركة</th>
                                            <th>بلد المنشأ</th>
                                            <th>الحالة</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="d-flex col-12 justify-content-between">
                                <button class="btn btn-primary btn-prev">
                                    <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                    <span class="d-none d-sm-inline-block">السابق</span>
                                </button>
                                <button class="btn btn-primary btn-next">
                                    <span class="d-none d-sm-inline-block me-sm-1">التالي</span>
                                    <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Social Links -->
                    <div id="social-links" class="content">
                        <h4 class="mb-0">   معايير الصنف </h4>


                        <div class="row g-3">
                            <div class="card-datatable text-nowrap">

                                <table class="dt-scrollableTable table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>  #</th>
                                            <th>  الوزن</th>
                                            <th>   وحدة قياس الوزن </th>
                                            <th>  الحجم</th>
                                            <th>   وحدة قياس الحجم</th>
                                            <th>  الطول</th>
                                            <th>  العرض</th>
                                            <th>  الارتفاع</th>
                                            <th>   وحدة قياس الابعاد</th>



                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="d-flex col-12 justify-content-between">
                                <button class="btn btn-primary btn-prev">
                                    <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                    <span class="d-none d-sm-inline-block">السابق</span>
                                </button>
                                <button class="btn btn-primary btn-next">
                                    <span class="d-none d-sm-inline-block me-sm-1">التالي</span>
                                    <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- بيانات السجل التجاري  -->
                    <div id="Commercial_record" class="content">
                        <div class="content-header mb-3">
                            <h4 class="mb-0">    بيانات شروط التخزين  </h4>

                        </div>
                        <div class="row g-3">
                            <div class="card-datatable text-nowrap">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="row">اختيار الكل</th>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="selectAll" disabled>
                                                    <label class="form-check-label form-label fs-6" for="selectAll">اختيار الكل</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">درجة الحرارة</th>
                                            <td>
                                                <div class="form-check mb-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="temperature" id="check1" disabled>
                                                    <label class="form-check-label form-label d-block" for="temperature">درجة الحرارة</label>
                                                </div>
                                                <div class="row g-3">
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="fromTemperature" name="temperature" placeholder="من" disabled>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="toTemperature" name="temperature" placeholder="إلى" disabled>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">الرطوبة</th>
                                            <td>
                                                <div class="form-check mb-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="humidity" id="check2" disabled>
                                                    <label class="form-check-label form-label d-block" for="humidity">الرطوبة</label>
                                                </div>
                                                <div class="row g-3">
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="fromHumidity" name="minHumidity" placeholder="من" disabled>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="toHumidity" name="minHumidity" placeholder="إلى" disabled>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">الإضاءة</th>
                                            <td>
                                                <div class="form-check mb-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="lighting" id="check3" disabled>
                                                    <label class="form-check-label form-label d-block" for="lighting">الإضاءة</label>
                                                </div>
                                                <div class="row g-3">
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="fromLighting" name="lighting" placeholder="من" disabled>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="toLighting" name="lighting" placeholder="إلى" disabled>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">أن يكون المخزن جاف</th>
                                            <td>
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="dry" id="dry" disabled>
                                                    <label class="form-check-label form-label d-block" for="dry">أن يكون المخزن جاف</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">توفير فتحات الغضاءة والتهوية</th>
                                            <td>
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="lightSlots" id="lightSlots" disabled>
                                                    <label class="form-check-label form-label d-block" for="lightSlots">توفير فتحات الغضاءة والتهوية</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">يتم تخزين كل نوع على حدة</th>
                                            <td>
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="typeStore" id="typeStore" disabled>
                                                    <label class="form-check-label form-label d-block" for="typeStore">يتم تخزين كل نوع على حدة</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">يتم وضع المواد المخزنة على رفوف</th>
                                            <td>
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="menus" id="menus" disabled>
                                                    <label class="form-check-label form-label d-block" for="menus">يتم وضع المواد المخزنة على رفوف</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex col-12 justify-content-between">
                                <button class="btn btn-primary btn-prev">
                                    <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                    <span class="d-none d-sm-inline-block">السابق</span>
                                </button>
                                <button class="btn btn-primary btn-next">
                                    <span class="d-none d-sm-inline-block me-sm-1">التالي</span>
                                    <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!--/  الوثائق المرفقة -->
                    <!-- Review -->
                    <div id="review-submit" class="content">
                        <div class="content-header mb-3">
                            <h4 class="mb-0">بيانات الرئيسية الصنف </h4>

                        </div>
                        <div class="row g-3">
                            <div class="card-datatable text-nowrap">
                                <table class="dt-scrollableTable table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>مجموعة  الرئيسية</th>
                                            <th>مجموعة  الفرعية أ</th>
                                            <th>مجموعة  الفرعية ب</th>
                                            <th>اسم الصنف</th>
                                            <th>وصف الصنف</th>
                                              <th>نوع الصنف </th>
                                            <th>السعر</th>
                                            <th>تاريخ أنتاج  </th>
                                            <th>تاريخ إنتهاء </th>
                                            <th>الحد الاعلى</th>
                                            <th>الحد الادنى</th>
                                            <th>حد الطلب</th>
                                            <th>حالة الصنف</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <hr />
                        <div class="content-header mb-3">
                            <h4 class="mb-0">بيانات وحدات القياس</h4>

                        </div>
                        <div class="row g-3">
                            <div class="card-datatable text-nowrap">
                                <table class="dt-scrollableTable table table-bordered">
                                    <thead>
                                        <tr>
                                            <th> #</th>
                                            <th>    الوحدة الأساسية   </th>
                                            <th> الوحدة الثانوية </th>
                                            <th> التعبئة </th>


                                        </tr>


                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="content-header mb-3">
                            <h4 class="mb-0">الشركة المنتجة الصنف  </h4>

                        </div>
                        <div class="row g-3">
                            <div class="card-datatable text-nowrap">
                                <table class="dt-scrollableTable table table-bordered">
                                    <thead>

                                        <tr>
                                            <th>#</th>
                                            <th>اسم الماركة</th>
                                            <th>بلد المنشأ</th>
                                            <th>الحالة</th>



                                        </tr>


                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="content-header mb-3">
                                <h4 class="mb-0">معايير الصنف </h4>

                            </div>
                            <div class="card-datatable text-nowrap">
                                <table class="dt-scrollableTable table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>  #</th>
                                            <th>  الوزن</th>
                                            <th>   وحدة قياس الوزن </th>
                                            <th>  الحجم</th>
                                            <th>   وحدة قياس الحجم</th>
                                            <th>  الطول</th>
                                            <th>  العرض</th>
                                            <th>  الارتفاع</th>
                                            <th>   وحدة قياس الابعاد</th>



                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <hr />

                        <div class="content-header mb-3">
                            <h4 class="mb-0">    بيانات شروط التخزين  </h4>

                        </div>
                        <div class="row g-3">
                            <div class="card-datatable text-nowrap">

                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="row">اختيار الكل</th>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="selectAll" disabled>
                                                    <label class="form-check-label form-label fs-6" for="selectAll">اختيار الكل</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">درجة الحرارة</th>
                                            <td>
                                                <div class="form-check mb-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="temperature" id="check1" disabled>
                                                    <label class="form-check-label form-label d-block" for="temperature">درجة الحرارة</label>
                                                </div>
                                                <div class="row g-3">
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="fromTemperature" name="temperature" placeholder="من" disabled>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="toTemperature" name="temperature" placeholder="إلى" disabled>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">الرطوبة</th>
                                            <td>
                                                <div class="form-check mb-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="humidity" id="check2" disabled>
                                                    <label class="form-check-label form-label d-block" for="humidity">الرطوبة</label>
                                                </div>
                                                <div class="row g-3">
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="fromHumidity" name="minHumidity" placeholder="من" disabled>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="toHumidity" name="minHumidity" placeholder="إلى" disabled>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">الإضاءة</th>
                                            <td>
                                                <div class="form-check mb-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="lighting" id="check3" disabled>
                                                    <label class="form-check-label form-label d-block" for="lighting">الإضاءة</label>
                                                </div>
                                                <div class="row g-3">
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="fromLighting" name="lighting" placeholder="من" disabled>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control" id="toLighting" name="lighting" placeholder="إلى" disabled>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">أن يكون المخزن جاف</th>
                                            <td>
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="dry" id="dry" disabled>
                                                    <label class="form-check-label form-label d-block" for="dry">أن يكون المخزن جاف</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">توفير فتحات الغضاءة والتهوية</th>
                                            <td>
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="lightSlots" id="lightSlots" disabled>
                                                    <label class="form-check-label form-label d-block" for="lightSlots">توفير فتحات الغضاءة والتهوية</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">يتم تخزين كل نوع على حدة</th>
                                            <td>
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="typeStore" id="typeStore" disabled>
                                                    <label class="form-check-label form-label d-block" for="typeStore">يتم تخزين كل نوع على حدة</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">يتم وضع المواد المخزنة على رفوف</th>
                                            <td>
                                                <div class="form-check mt-2">
                                                    <input class="form-check-input input-filter" type="checkbox" name="menus" id="menus" disabled>
                                                    <label class="form-check-label form-label d-block" for="menus">يتم وضع المواد المخزنة على رفوف</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="d-flex col-12 justify-content-between">
                            <button class="btn btn-primary btn-prev">
                                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                <span class="d-none d-sm-inline-block">السابق</span>
                            </button>
                            <div class="content-header mb-6">
                                <a class="btn btn-label-secondary d-grid w-100 mb-3"
                                   target="_blank"
                                   asp-action="PrintStoreDetails">
                                    طباعة
                                </a>

                            </div>


                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- /Default Icons Wizard -->
<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../../assets/vendor/libs/popper/popper.js"></script>
<script src="../../assets/vendor/js/bootstrap.js"></script>
<script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../../assets/vendor/libs/hammer/hammer.js"></script>
<script src="../../assets/vendor/libs/i18n/i18n.js"></script>
<script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>

<script src="../../assets/vendor/js/menu.js"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<script src="../../assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
<script src="../../assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
<script src="../../assets/vendor/libs/select2/select2.js"></script>

<!-- Main JS -->
<script src="../../assets/js/main.js"></script>

<!-- Page JS -->

<script src="../../assets/js/form-wizard-icons.js"></script>


