



<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="breadcrumb-wrapper py-3 mb-4"><span class="text-muted fw-light">الصفحة الرئيسية / </span> إدارة الصلاحيات </h4>



    <!-- عرض المستخدمين -->
    <!-- DataTable with Buttons -->
    <div class="card">
        <div class="card-datatable table-responsive pt-0">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="card-header flex-column flex-md-row">
                    <div class="head-label text-center">
                        <h5 class="card-title mb-0">المستخدمين</h5>
                    </div>
                    <div class="dt-action-buttons text-end pt-3 pt-md-0">
                        <div class="dt-buttons">

                            <button class="dt-button buttons-collection btn btn-label-primary dropdown-toggle me-2" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="true" aria-expanded="false">
                                <span>
                                    <i class="bx bx-export me-sm-2"></i> <span class="d-none d-sm-inline-block">تصدير</span>
                                </span>
                            </button>
                            <a asp-action="AddOrEdit">
                                <button class="dt-button create-new btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button">

                                    <span><i class="bx bx-plus me-sm-2"></i> <span class="d-none d-sm-inline-block">  إضافة مستخدم </span></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                        <label class="form-label" for="itemState"> عدد الصفوف</label>
                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                            <option value="7">7</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label class="form-label" for="itemState"> بحث بحسب</label>
                        <select id="searchsele" name="search" class="form-select">
                            <option value=""> الكل </option>
                            <option value="2">اسم الموظف  </option>
                            <option value="7">مجموعة الصلاحيات </option>
                        </select>

                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="search"> بحث </label>

                        <div id="DataTables_Table_0_filter" class="input-group input-group-merge dataTables_filter">
                            <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                            <input id="seaarchinput"
                                   type="search"
                                   class="form-control"
                                   placeholder="..."
                                   aria-label=""
                                   aria-controls="DataTables_Table_0" />
                        </div>
                    </div>

                </div>

                <!-- Scrollable -->
                <div class="card-datatable text-nowrap">
                    <table class="dt-scrollableTable table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>اسم المستخدم الرباعي </th>
                                <th>الايمبل</th>
                                <th>رقم الهاتف</th>
                                <th>اسم المستخدم</th>
                                <th>  إسم المكتب</th>
                                <th>مجموعة الصلاحيات</th>
                                <th>موقف</th>
                                <th>الاجراءت</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!--/ Scrollable -->
            <!--/ Basic Pagination -->
            <!--/ Basic Pagination -->


            <div class="demo-inline-spacing">
                <nav id="page" aria-label="Page navigation" class="mt-5 me-4">
                    <ul class="pagination pagination-sm justify-content-end ">
                        <li class="page-item prev mr">
                            <a class="page-link" href="javascript:void(0);">
                                <i class="tf-icon bx bx-chevrons-left"></i>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0);">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">2</a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link" href="javascript:void(0);">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">5</a>
                        </li>
                        <li class="page-item next">
                            <a class="page-link" href="javascript:void(0);">
                                <i class="tf-icon bx bx-chevrons-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


<!--اضافة المستخدمين -->

<div class="offcanvas offcanvas-end show" id="add-new-record" style="visibility: visible;" aria-modal="true" role="dialog">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">   إضافة مستخدم    </h5>
        <a asp-action="Index"> <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button></a>
    </div>
    <div class="offcanvas-body flex-grow-1">

        <form asp-action="Index" class="add-new-record row g-2 pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="form-add-new-record" onsubmit="return false" novalidate="novalidate">


            <div class="col-sm-12">
                <label class="form-label"> رقم المستخدم </label>
                <div class="input-group input-group-merge">
                    <input type="number" id="VNumber" name="VNumber" class="form-control" placeholder="1" readonly />
                </div>
            </div>

            <div class="col-sm-12">
                <label class="form-label"> </label>
                <div class="input-group input-group-merge">
                    <input type="number" id="VNumber" name="VNumber" class="form-control" placeholder="الرقم الوظيفي" />
                </div>
            </div>


            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label"> اسم المستخدم الرباعي </label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicFullname2" class="input-group-text">

                    </span>
                    <input type="text" id="basicFullname" class="form-control dt-full-name" name="basicFullname" placeholder="اسم المستخدم    " aria-label="John Doe" aria-describedby="basicFullname2">
                </div>
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label"> اسم المستخدم </label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicFullname2" class="input-group-text">

                    </span>
                    <input type="text" id="modalEditUserName" name="modalEditUserName" class="form-control" placeholder="اسم المستخدم">
                </div>
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="col-sm-6">

                <label for="Sector" class="form-label"> إسم القطاع   </label>
                <div class="input-group">
                    <select id="Sector"
                            name="Sector"
                            class=" form-select form-select-lg"
                            data-allow-clear="true">
                        <option label=""> يرجى اختيار القطاع   </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">

                <label for="Office" class="form-label"> إسم المكتب   </label>
                <div class="input-group">
                    <select id="Office"
                            name="Office"
                            class=" form-select form-select-lg"
                            data-allow-clear="true">
                        <option label=""> يرجى اختيار المكتب   </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">

                <label class="form-label" for="eventStartDate"> تاريخ الانشاء </label>
                <div class="input-group input-group-merge has-validation">
                    <span id="eventStartDate" class="input-group-text"><i class="bx bx-calendar"></i></span>
                    <input type="date" class="form-control dt-date flatpickr-input" id="eventStartDate" name="eventStartDate" aria-describedby="basicDate2" placeholder="MM/DD/YYYY" aria-label="MM/DD/YYYY">
                </div><div class="fv-plugins-message-container invalid-feedback"></div>
            </div>


            <div class="form-password-toggle col-sm-6 fv-plugins-icon-container">
                <label class="form-label" for="formValidationPass">كلمة المرور </label>
                <div class="input-group input-group-merge has-validation">
                    <input type="password" id="formValidationPass" name="formValidationPass" class="form-control" placeholder="············" aria-describedby="formValidationPass2">
                    <span class="input-group-text cursor-pointer" id="formValidationPass2"><i class="bx bx-hide"></i></span>
                </div><div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="form-password-toggle col-sm-6 fv-plugins-icon-container">
                <label class="form-label" for="formValidationPass">تأكيد كلمة المرور </label>
                <div class="input-group input-group-merge has-validation">
                    <input type="password" id="formValidationPass" name="formValidationPass" class="form-control" placeholder="············" aria-describedby="formValidationPass2">
                    <span class="input-group-text cursor-pointer" id="formValidationPass2"><i class="bx bx-hide"></i></span>
                </div><div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="mb-3">
                <label class="form-label"> رقم الهاتف </label>
                <input type="number"
                       required
                       class="form-control dt-full-name"
                       placeholder="رقم الهاتف" />

            </div>

            <div class="mb-3">
                <label class="form-label"> الايميل </label>
                <input type="email"
                       required
                       class="form-control dt-full-name"
                       placeholder="exmple2023@Gmil.com" />

            </div>
            <div class="col-sm-12">

                <label for="Office" class="form-label"> نوع المستخدم   </label>
                <div class="input-group">
                    <select id="Office"
                            name="Office"
                            class=" form-select "
                            data-allow-clear="true">
                        <option label=""> يرجى اختيار نوع المستخدم   </option>
                    </select>
                </div>
            </div>
         

            <div class="mb-3">
                <label class="form-label"> عنوان السكن </label>
                <input type="text"
                       required
                       class="form-control dt-full-name"
                       placeholder="عنوان السكن" />

            </div>

            <div class="mb-3">
                <label for="empState" class="form-label"> حالة حساب المستخدم </label>
                <select required
                        class=" form-select "
                        id="empState"
                        data-allow-clear="true">
                    <option value=NULL> يرجى اختيار حالة حساب المستخدم </option>
                    <option value="True"> نشط </option>
                    <option value="False"> غير نشط </option>
                </select>

            </div>
            <div class="mb-3">
                <label for="select2Basic" class="form-label"> مجموعة الصلاحيات </label>
                <select required
                        class="select2 form-select form-select-lg"
                        id="select2Basic"
                        data-allow-clear="true">
                </select>
            </div>

            <div class="d-grid gap-2 col-13 mx-auto mt-4">
                <button type="submit" class="btn btn-primary ">حفظ</button>
                <button class="btn btn-label-secondary " type="reset" data-bs-dismiss="offcanvas"> إلغاء</button>
            </div>
        </form>
    </div>
</div>


<script src="../../assets/js/form-wizard-numbered.js"></script>
