@{
    Layout = "";
}


<!DOCTYPE html>
<html class="light-style layout-navbar-fixed layout-menu-fixed" dir="rtl"
      data-theme="theme-default" data-assets-path="~/assets/" data-template="vertical-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>وزارة الصناعة والتجارة</title>

    <meta name="description" content="" />


    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/2.png" />

    <!-- Fonts -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" /> -->
    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/fa-brands-400.woff2" />

    <!-- <link rel="stylesheet" href="~/assets/vendor/fonts/all.css" /> -->

    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" />


    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />



    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-select/bootstrap-select.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/bs-stepper/bs-stepper.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/sweetalert2/sweetalert2.css" />



    @*
        <link href="~/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" />
    *@
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />


    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />


    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/apex-charts/apex-charts.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="~/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
          <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <svg width="26px" height="26px" viewBox="0 0 26 26" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>icon</title>
                                <defs>
                                    <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
                                        <stop stop-color="#5A8DEE" offset="0%"></stop>
                                        <stop stop-color="#699AF9" offset="100%"></stop>
                                    </linearGradient>
                                    <linearGradient x1="0%" y1="0%" x2="100%" y2="100%" id="linearGradient-2">
                                        <stop stop-color="#FDAC41" offset="0%"></stop>
                                        <stop stop-color="#E38100" offset="100%"></stop>
                                    </linearGradient>
                                </defs>
                                <g id="Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Login---V2" transform="translate(-667.000000, -290.000000)">
                                        <g id="Login" transform="translate(519.000000, 244.000000)">
                                            <g id="Logo" transform="translate(148.000000, 42.000000)">
                                                <g id="icon" transform="translate(0.000000, 4.000000)">
                                                    <path d="M13.8863636,4.72727273 C18.9447899,4.72727273 23.0454545,8.82793741 23.0454545,13.8863636
                                 C23.0454545,18.9447899 18.9447899,23.0454545 13.8863636,23.0454545 C8.82793741,23.0454545 4.72727273,18.9447899 4.72727273,13.8863636 C4.72727273,13.5423509 4.74623858,13.2027679 4.78318172,12.8686032 L8.54810407,12.8689442 C8.48567157,13.19852 8.45300462,13.5386269 8.45300462,13.8863636 C8.45300462,16.887125 10.8856023,19.3197227 13.8863636,19.3197227 C16.887125,19.3197227 19.3197227,16.887125 19.3197227,13.8863636 C19.3197227,10.8856023 16.887125,8.45300462 13.8863636,8.45300462 C13.5386269,8.45300462 13.19852,8.48567157 12.8689442,8.54810407 L12.8686032,4.78318172 C13.2027679,4.74623858 13.5423509,4.72727273 13.8863636,4.72727273 Z"
                                                          id="Combined-Shape" fill="#4880EA"></path>
                                                    <path d="M13.5909091,1.77272727 C20.4442608,1.77272727 26,7.19618701 26,13.8863636 C26,20.5765403 20.4442608,26 13.5909091,26 C6.73755742,26 1.18181818,20.5765403 1.18181818,13.8863636 C1.18181818,13.540626 1.19665566,13.1982714 1.22574292,12.8598734 L6.30410592,12.859962 C6.25499466,13.1951893 6.22958398,13.5378796 6.22958398,13.8863636 C6.22958398,17.8551125 9.52536149,21.0724191 13.5909091,21.0724191 C17.6564567,21.0724191 20.9522342,17.8551125 20.9522342,13.8863636 C20.9522342,9.91761479 17.6564567,6.70030817 13.5909091,6.70030817 C13.2336969,6.70030817 12.8824272,6.72514561 12.5388136,6.77314791 L12.5392575,1.81561642 C12.8859498,1.78721495 13.2366963,1.77272727 13.5909091,1.77272727 Z"
                                                          id="Combined-Shape2" fill="url(#linearGradient-1)"></path>
                                                    <rect id="Rectangle" fill="url(#linearGradient-2)" x="0" y="0"
                                                          width="7.68181818" height="7.68181818"></rect>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <span class="app-brand-text demo menu-text fw-bold ms-2">نظام إدارة المخازن</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="bx menu-toggle-icon fs-4 d-none d-xl-block align-middle"></i>
                        <i class="bx bx-x bx-sm d-xl-none d-block align-middle"></i>
                    </a>
                </div>

                <div class="menu-divider mt-0"></div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboards -->
                    <li class="menu-item">
                        <a href="" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-calendar"></i>
                            <div data-i18n="الصفحة الرئيسية">الصفحة الرئيسية</div>

                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="تهيئة النظام">تهيئة النظام</div>
                        </a>
                        <ul class="menu-sub">

                            <li class="menu-item">
                                <a href="javascript:void(1);" class="menu-link menu-toggle">
                                    <div data-i18n="مجموعة الأصناف">مجموعة الأصناف</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a asp-controller="ItemGroupMain" asp-action="Index" class="menu-link">
                                            <div data-i18n="المجموعة  الرئيسية"> المجموعة الرئيسية</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-controller="ItemGroupSubA" asp-action="Index" class="menu-link">
                                            <div data-i18n="مجموعة الفرعية  أ">المجموعة الفرعية  أ</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">

                                        <a asp-controller="ItemGroupSubB" asp-action="Index" class="menu-link">
                                            <div data-i18n=" مجموعة الفرعية ب"> المجموعة الفرعية ب</div>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>



                        <ul class="menu-sub">

                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="إثبات الصنف">إثبات الصنف</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a asp-controller="Item" asp-action="Index" class="menu-link">
                                            <div data-i18n=" الرئيسية">الرئيسية</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-controller="ItemUoM" asp-action="Index" class="menu-link">
                                            <div data-i18n="وحدات القياس">وحدات القياس</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-controller="Item" asp-action="AddOrEdit" class="menu-link">
                                            <div data-i18n=" حجم الصنف"> حجم الصنف</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-controller="Item" asp-action="AddOrEdit" class="menu-link">
                                            <div data-i18n=" مواصفات التخزين"> مواصفات التخزين</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </li>

                    <!-- Apps & Pages -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-list-check"></i>
                            <div data-i18n="العمليات">العمليات</div>
                        </a>

                        <ul class="menu-sub">

                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons bx bx-spreadsheet"></i>
                                    <div data-i18n="إدارة المخزون السلعي">إدارة المخزون السلعي</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <div data-i18n="حصر المخزون السلعي">حصر المخزون السلعي</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-controller="licenses" asp-action="Index" class="menu-link">
                                            <div data-i18n="مراقبة المخزون السلعي">مراقبة المخزون السلعي</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            <i class="menu-icon tf-icons bx bx-task"></i>
                                            <div data-i18n="إصدار تقارير">إصدار تقارير</div>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>

                        <ul class="menu-sub">

                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons bx bx-bookmark-alt"></i>
                                    <div data-i18n="إدارة التراخيص">إدارة التراخيص</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a asp-controller="licenses" asp-action="Index" class="menu-link">
                                            <div data-i18n=" عرض طلب ترخيص مخزن">عرض طلب ترخيص مخزن</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-controller="licenses" asp-action="AddLicenses" class="menu-link">
                                            <div data-i18n=" إضافة ترخيص فتح مخزن">إضافة ترخيص فتح مخزن</div>
                                        </a>
                                    </li>

                                    <li class="menu-item">

                                        <a asp-controller="RestrictedStore" asp-action="Index" class="menu-link">
                                            <div data-i18n="عرض  المخازن المقيدة ">عرض  المخازن المقيدة </div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-controller="licenses" asp-action="RepackingLicenseIndex" class="menu-link">
                                            <div data-i18n=" عرض طلب مخزن إعادة التعبئ"> عرض طلب مخزن إعادة التعبئة</div>
                                        </a>

                                    <li class="menu-item">

                                    <li class="menu-item">
                                        <a asp-controller="licenses" asp-action="AddOrEditRepacking" class="menu-link">
                                            <div data-i18n=" إضافة ترخيص مخزن إعادة التعبئة"> إضافة ترخيص مخزن إعادة التعبئة</div>
                                        </a>

                                    <li class="menu-item">
                                    <li class="menu-item">

                                        <a asp-controller="RestrictedStore" asp-action="RepackingIndex" class="menu-link">
                                            <div data-i18n="عرض  مخازن إعادة التعبئة المقيدة ">عرض  مخازن  التعبئة المقيدة </div>
                                        </a>
                                    </li>

                                    <a asp-controller="Examination" asp-action="Index" class="menu-link">
                                        <div data-i18n=" الفحص والمعاينة  "> الفحص والمعاينة </div>
                                    </a>
                            </li>

                            <li class="menu-item">
                                <a asp-controller="Examination" asp-action="AddOrEditViolations" class="menu-link">
                                    <div data-i18n=" عرض السندات  "> عرض السندات </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-controller="Examination" asp-action="ViolationsIndex" class="menu-link">
                                    <div data-i18n="  المخالفات">   المخالفات</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-controller="Invoices" asp-action="AddOrEdit" class="menu-link">
                                    <div data-i18n=" قطع سند رسوم ترخيص">  قطع سند رسوم ترخيص</div>
                                </a>
                            </li>

                            <li class="menu-item">
                                <a href="https://pixinvent.com/demo/frest-clean-bootstrap-admin-dashboard-template/documentation-bs5/"
                                   class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-file"></i>
                                    <div data-i18n="عرض  التراخيص">عرض  التراخيص </div>
                                </a>
                            </li>


                        </ul>


                    </li>

                </ul>


                </li>


                <li class="menu-item" style="">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-food-menu"></i>
                        <div data-i18n="فاتورة">فاتورة</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a asp-controller="Invoices" asp-action="Index" class="menu-link">
                                <div data-i18n="قائمة الفوتير">قائمة الفوتير</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a asp-controller="Invoices" asp-action="Preview" class="menu-link">
                                <div data-i18n="عرض الفاتورة">عرض الفاتورة</div>
                            </a>
                        </li>
                        <li class="menu-item ">
                            <a asp-controller="Invoices" asp-action="Edit" class="menu-link">
                                <div data-i18n="تعديل">تعديل</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a asp-controller="Invoices" asp-action="Add" class="menu-link">
                                <div data-i18n="اضافة فاتورة">اضافة فاتورة</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-user-plus"></i>
                        <div data-i18n="إدارة الصلاحيات ">إدارة الصلاحيات</div>
                    </a>



                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a asp-controller="User" asp-action="Index" class="menu-link">
                                <div data-i18n=" المستخدمين "> المستخدمين</div>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a asp-controller="Rule" asp-action="Index" class="menu-link">
                                <div data-i18n="صلاحية المستخدمين">صلاحية المستخدمين</div>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a asp-controller="Sector" asp-action="Index" class="menu-link">
                                <div data-i18n="    القطاعات ">  القطاعات</div>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a asp-controller="Sector" asp-action="OfficeIndex" class="menu-link">
                                <div data-i18n="  المكاتب">المكاتب  </div>
                            </a>
                        </li>


                    </ul>
                </li>
                </ul>



                <!-- Tables -->



            </aside>
            <!-- / Menu -->
            <!-- Tables -->

            <div class="layout-page">
                <!-- Navbar -->

                <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme border-bottom shadow-sm" id="layout-navbar">
                    <div class="container-fluid">
                        <div class="layout-menu-toggle navbar-nav d-xl-none align-items-xl-center me-3 me-xl-0">
                            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                <i class="bx bx-menu bx-sm"></i>
                            </a>
                        </div>

                        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                            <div class="navbar-nav align-items-center mt-5">
                                <div aria-label="breadcrumb ">
                                    <ol class="breadcrumb breadcrumb-style1 fs-5 mb-5">
                                        <!-- <li class="breadcrumb-item"> معلومات المستخدم</li> -->
                                        <li class="breadcrumb-item active">  الحساب الشخصي </li>
                                    </ol>
                                </div>
                            </div>
                            <ul class="navbar-nav flex-row align-items-center ms-auto">

                                <!-- Style Switcher -->
                                <li class="nav-item me-2 me-xl-0">
                                    <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                                        <i class="bx bx-sm"></i>
                                    </a>
                                </li>
                                <!--/ Style Switcher -->
                                <!-- Notification -->
                                <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2">
                                    <a class="nav-link dropdown-toggle hide-arrow"
                                       href="javascript:void(0);"
                                       data-bs-toggle="dropdown"
                                       data-bs-auto-close="outside"
                                       aria-expanded="false">
                                        <i class="bx bx-bell bx-sm"></i>
                                        <span class="badge rounded-pill badge-notifications bg-danger">5</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end py-0">
                                        <li class="dropdown-menu-header border-bottom">
                                            <div class="dropdown-header d-flex align-items-center py-3">
                                                <h5 class="text-body me-auto mb-0">الإشعارات</h5>
                                                <a href="javascript:void(0)"
                                                   class="dropdown-notifications-all text-body"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-placement="top"
                                                   title="Mark all as read">
                                                    <i class="bx fs-4 bx-envelope-open"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="dropdown-notifications-list scrollable-container">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <img src="~/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">Congratulation Lettie 🎉</h6>
                                                            <p class="mb-0">Won the monthly best seller gold badge</p>
                                                            <small class="text-muted">1h ago</small>
                                                        </div>
                                                        <div class="dropdown-notifications-actions flex-shrink-0">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a>
                                                            <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="bx bx-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <span class="avatar-initial bg-label-danger rounded-circle">CF</span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">Charles Franklin</h6>
                                                            <p class="mb-0">Accepted your connection</p>
                                                            <small class="text-muted">12hr ago</small>
                                                        </div>
                                                        <div class="dropdown-notifications-actions flex-shrink-0">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a>
                                                            <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="bx bx-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <img src="~/assets/img/avatars/2.png" alt class="w-px-40 h-auto rounded-circle" />
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">New Message ✉️</h6>
                                                            <p class="mb-0">You have new message from Natalie</p>
                                                            <small class="text-muted">1h ago</small>
                                                        </div>
                                                        <div class="dropdown-notifications-actions flex-shrink-0">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a>
                                                            <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="bx bx-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <span class="avatar-initial bg-label-success rounded-circle">
                                                                    <i class="bx bx-cart"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">Whoo! You have new order 🛒</h6>
                                                            <p class="mb-0">ACME Inc. made new order $1,154</p>
                                                            <small class="text-muted">1 day ago</small>
                                                        </div>
                                                        <div class="dropdown-notifications-actions flex-shrink-0">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a>
                                                            <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="bx bx-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <img src="~/assets/img/avatars/9.png" alt class="w-px-40 h-auto rounded-circle" />
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">Application has been approved 🚀</h6>
                                                            <p class="mb-0">Your ABC project application has been approved.</p>
                                                            <small class="text-muted">2 days ago</small>
                                                        </div>
                                                        <div class="dropdown-notifications-actions flex-shrink-0">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a>
                                                            <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="bx bx-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <span class="avatar-initial bg-label-success rounded-circle">
                                                                    <i class="bx bx-pie-chart-alt"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">Monthly report is generated</h6>
                                                            <p class="mb-0">July monthly financial report is generated</p>
                                                            <small class="text-muted">3 days ago</small>
                                                        </div>
                                                        <div class="dropdown-notifications-actions flex-shrink-0">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a>
                                                            <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="bx bx-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <img src="~/assets/img/avatars/5.png" alt class="w-px-40 h-auto rounded-circle" />
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">Send connection request</h6>
                                                            <p class="mb-0">Peter sent you connection request</p>
                                                            <small class="text-muted">4 days ago</small>
                                                        </div>
                                                        <div class="dropdown-notifications-actions flex-shrink-0">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a>
                                                            <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="bx bx-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <img src="~/assets/img/avatars/6.png" alt class="w-px-40 h-auto rounded-circle" />
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">New message from Jane</h6>
                                                            <p class="mb-0">Your have new message from Jane</p>
                                                            <small class="text-muted">5 days ago</small>
                                                        </div>
                                                        <div class="dropdown-notifications-actions flex-shrink-0">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a>
                                                            <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="bx bx-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <span class="avatar-initial bg-label-warning rounded-circle">
                                                                    <i class="bx bx-error"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-1">CPU is running high</h6>
                                                            <p class="mb-0">CPU Utilization Percent is currently at 88.63%,</p>
                                                            <small class="text-muted">5 days ago</small>
                                                        </div>
                                                        <div class="dropdown-notifications-actions flex-shrink-0">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a>
                                                            <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="bx bx-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-menu-footer border-top">
                                            <a href="javascript:void(0);" class="dropdown-item d-flex justify-content-center p-3">
                                                View all notifications
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!--/ Notification -->
                                <!-- User -->
                                  <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                    <a class="nav-link dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <div class=" d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img src="~/assets/img/avatars/1.png" alt class="rounded-circle" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="lh-1 d-block fw-semibold">زياد مريط  </span>
                                                <small>مسؤول النظام</small>
                                            </div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">

                                        <li>
                                            <a class="dropdown-item" asp-controller="User" asp-action="Details">
                                                <i class="bx bx-user me-2"></i>
                                                <span class="align-middle">الحساب الشخصي </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="الاعدادات -الحساب.html">
                                                <i class="bx bx-cog me-2"></i>
                                                <span class="align-middle">الإعدادات</span>
                                            </a>
                                        </li>
                                        <li>

                                            <div class="dropdown-divider"></div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="AccountLogin" asp-action="Logout" target="_blank">
                                                <i class="bx bx-power-off me-2"></i>
                                                <span class="align-middle">تسجيل خروج </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!--/ User -->
                            </ul>
                        </div>


                    </div>
                </nav>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">

                        <!-- / Navbar -->
                        <div class="row gy-4">
                            <div class="col-md-5 col-lg-5 col-xl-4 order-1 order-md-0">
                                <!-- User Card -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="user-avatar-section">
                                            <div class="d-flex flex-column align-items-center">
                                                <img class="img-fluid rounded my-4" src="../../assets/img/avatars/14.png" height="110" width="110" alt="User avatar">
                                                <div class="user-info text-center">
                                                    <h5 class="mb-2">زياد طارق أحمد مريط</h5>
                                                    <span class="badge bg-label-secondary">   اسم المستخدم </span>
                                                    <h5 class="mb-2">  تاجر</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-wrap justify-content-around py-3 my-4">
                                            <div class="gap-3 d-flex align-items-start mt-3 me-4">

                                                <span class="badge bg-label-success">نشط</span>


                                                <div>
                                                    <span class="fw-bold me-2">:الحالة</span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <!-- /User Card -->
                                <!-- /Plan Card -->
                            </div>
                            <!-- Content wrapper -->



                            <div class="card text-center col-md-7 col-lg-7 col-xl-8 order-0 order-md-1">
                                <div class="card-header border-bottom">
                                    <ul class="nav nav-tabs card-header-tabs" id="nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="true">
                                                البيانات الرئيسية
                                            </button>
                                        </li>

                                        <li class="nav-item">
                                            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" role="tab" aria-controls="home" aria-selected="false">
                                                تغيير كلمة المرور
                                            </button>
                                        </li>

                                    </ul>
                                </div>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                        <!-- Notifications -->

                                        <h5 class="border-bottom pb-2 mb-4">البيانات الرئيسية</h5>
                                     
                                    <div class="row d-flex justify-content-between mb-4">
                                        <div class="col-sm-6 w-50">
                                            <ul class="list-unstyled">
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">رقم  المستخدم:</span>
                                                    <span>1336</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">اسم المستخدم الرباعي:</span>
                                                    <span>زياد طارق احمد مريط</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">الرقم الوظيفي:</span>
                                                    <span>100000</span>
                                                    <hr class="alert-info" />
                                                </li>

                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">  إسم القطاع:</span>

                                                    <span>التجارة الداخلية</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                    <li class="mb-3">
                                                    <span class="fw-bold me-2">  إسم المكتب:</span>
                                                    <span>امانة العاصمة</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">  تاريخ الإنشاء :</span>
                                                    <span>2023/5/22</span>
                                                    <hr class="alert-info" />
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 w-50">
                                            <ul class="list-unstyled">
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">    رقم الهاتف:</span>
                                                    <span>تصدير</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">الايميل :</span>
                                                    <span>صنعاء-امانة العاصمة</span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">    نوع المستخدم  :</span>
                                                    <span>تاجر </span>
                                                    <hr class="alert-info" />
                                                </li>
                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">    عنوان السكن  :</span>
                                                    <span> صنعاء</span>
                                                    <hr class="alert-info" />

                                                </li>

                                                <li class="mb-3">
                                                    <span class="fw-bold me-2">حالة حساب المستخدم:</span>
                                                    <span class="badge bg-label-success">نشط</span>
                                                    <hr class="alert-info" />

                                                </li>





                                            </ul>
                                      
                                        </div>
                                    </div>
                                            <div class="d-flex justify-content-center pt-4">
                                      
                                        <a href="javascript:;" class="btn btn-primary me-3" data-bs-target="#editUser" data-bs-toggle="modal">تعديل</a>
                                        <a href="javascript:;" class="btn btn-label-danger suspend-user">توقيف المستخدم</a>

                                        </div>
                                    </div>




                                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <h5 class="card-header">تغيير كلمة المرور </h5>

                                        <form onsubmit="return false" class="fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
                                            <div class="form-password-toggle col-12 col-sm-6 mb-3 fv-plugins-icon-container">
                                                <label class="form-label" for="formValidationPass">كلمة المرورالحالية </label>
                                                <div class="input-group input-group-merge has-validation">
                                                    <input type="password" id="formValidationPass" name="formValidationPass" class="form-control" placeholder="············" aria-describedby="formValidationPass2">
                                                    <span class="input-group-text cursor-pointer" id="formValidationPass2"><i class="bx bx-hide"></i></span>
                                                </div><div class="fv-plugins-message-container invalid-feedback"></div>

                                            </div>
                                            <div class="row">
                                                <div class="form-password-toggle col-12 col-sm-6 mb-3 fv-plugins-icon-container">
                                                    <label class="form-label" for="newPassword">كلمة المرور الجديدة  </label>
                                                    <div class="input-group input-group-merge has-validation">
                                                        <input class="form-control" type="password" id="newPassword" name="newPassword" placeholder="············">
                                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                                    </div><div class="fv-plugins-message-container invalid-feedback"></div>
                                                </div>

                                                <div class="form-password-toggle col-12 col-sm-6 mb-3 fv-plugins-icon-container">
                                                    <label class="form-label" for="confirmPassword">  تأكيد كلمة المرور  </label>
                                                    <div class="input-group input-group-merge has-validation">
                                                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="············">
                                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                                    </div><div class="fv-plugins-message-container invalid-feedback"></div>
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-primary me-2">حفظ</button>
                                                </div>
                                            </div>
                                            <div></div><input type="hidden">
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <!-- / Content -->



                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
 
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="~/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="~/assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="~/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive/datatables.responsive.js"></script>
    <script src="~/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
    <script src="~/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>


    <!-- Page JS -->
    <script src="~/assets/js/pages-profile.js"></script>
    <!-- Page JS -->
    <script src="../../assets/js/modal-edit-user.js"></script>
    <script src="../../assets/js/app-user-view.js"></script>
</body>
</html>    <!-- Page JS -->
