@{
    ViewData["Title"] = "Home Page";
}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-12 col-sm-86 col-md-12 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">طلبات التراخيص</h5>
                </div>
                <div class="card-body d-flex justify-content-between align-items-end">
                    <div class="gap-3 d-flex justify-content-between align-items-center w-100">
                        <div class="align-content-center d-flex" style="position: relative;">
                            <div class="chart-report" data-color="danger" data-series="25" style="min-height: 47.7px;">
                                <div id="apexchartsuzwowl98" class="apexcharts-canvas apexchartsuzwowl98 apexcharts-theme-light" style="width: 40px; height: 47.7px;">
                                    <svg id="SvgjsSvg2697" width="40" height="47.7" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG2699" class="apexcharts-inner apexcharts-graphical" transform="translate(-15, -10)"><defs id="SvgjsDefs2698"><clipPath id="gridRectMaskuzwowl98"><rect id="SvgjsRect2701" width="71" height="82" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskuzwowl98"></clipPath><clipPath id="nonForecastMaskuzwowl98"></clipPath><clipPath id="gridRectMarkerMaskuzwowl98"><rect id="SvgjsRect2702" width="69" height="84" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG2703" class="apexcharts-radialbar"><g id="SvgjsG2704"><g id="SvgjsG2705" class="apexcharts-tracks"><g id="SvgjsG2706" class="apexcharts-radialbar-track apexcharts-track" rel="1"><path id="apexcharts-radialbarTrack-0" d="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 1 1 32.497365148808946 17.40341486408048" fill="none" fill-opacity="1" stroke="rgba(233,236,238,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="3.628273170731709" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 1 1 32.497365148808946 17.40341486408048"></path></g></g><g id="SvgjsG2708"><g id="SvgjsG2710" class="apexcharts-series apexcharts-radial-series" seriesName="Progress" rel="1" data:realIndex="0"><path id="SvgjsPath2711" d="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 0 1 47.596585365853656 32.5" fill="none" fill-opacity="0.85" stroke="rgba(255,91,92,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="3.7404878048780503" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="90" data:value="25" index="0" j="0" data:pathOrig="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 0 1 47.596585365853656 32.5"></path></g><circle id="SvgjsCircle2709" r="8.282448780487805" cx="32.5" cy="32.5" class="apexcharts-radialbar-hollow" fill="transparent"></circle></g></g></g><line id="SvgjsLine2712" x1="0" y1="0" x2="65" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2713" x1="0" y1="0" x2="65" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG2700" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div>
                                </div>
                            </div>
                            <div class="chart-info ms-2">
                                <h5 class="mb-0"> المعلقة</h5>
                                <small class="text-muted">19</small>
                            </div>
                            <div class="resize-triggers">
                                <div class="expand-trigger">
                                    <div style="width: 85px; height: 49px;">
                                    </div>
                                </div><div class="contract-trigger"></div>
                            </div>
                        </div>
                        <div class="align-content-center d-flex" style="position: relative;">
                            <div class="chart-report" data-color="primary" data-series="65" style="min-height: 47.7px;"><div id="apexchartscplj7agi" class="apexcharts-canvas apexchartscplj7agi apexcharts-theme-light" style="width: 40px; height: 47.7px;"><svg id="SvgjsSvg3495" width="40" height="47.7" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG3497" class="apexcharts-inner apexcharts-graphical" transform="translate(-15, -10)"><defs id="SvgjsDefs3496"><clipPath id="gridRectMaskcplj7agi"><rect id="SvgjsRect3499" width="71" height="82" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskcplj7agi"></clipPath><clipPath id="nonForecastMaskcplj7agi"></clipPath><clipPath id="gridRectMarkerMaskcplj7agi"><rect id="SvgjsRect3500" width="69" height="84" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG3501" class="apexcharts-radialbar"><g id="SvgjsG3502"><g id="SvgjsG3503" class="apexcharts-tracks"><g id="SvgjsG3504" class="apexcharts-radialbar-track apexcharts-track" rel="1"><path id="apexcharts-radialbarTrack-0" d="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 1 1 32.497365148808946 17.40341486408048" fill="none" fill-opacity="1" stroke="rgba(233,236,238,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="3.628273170731709" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 1 1 32.497365148808946 17.40341486408048"></path></g></g><g id="SvgjsG3506"><g id="SvgjsG3508" class="apexcharts-series apexcharts-radial-series" seriesName="Progress" rel="1" data:realIndex="0"><path id="SvgjsPath3509" d="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 1 1 20.28660588199226 41.37355023802316" fill="none" fill-opacity="0.85" stroke="rgba(90,141,238,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="3.7404878048780503" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="234" data:value="65" index="0" j="0" data:pathOrig="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 1 1 20.28660588199226 41.37355023802316"></path></g><circle id="SvgjsCircle3507" r="8.282448780487805" cx="32.5" cy="32.5" class="apexcharts-radialbar-hollow" fill="transparent"></circle></g></g></g><line id="SvgjsLine3510" x1="0" y1="0" x2="65" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine3511" x1="0" y1="0" x2="65" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG3498" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div></div></div>
                            <div class="chart-info ms-2">
                                <h5 class="mb-0">الجديد</h5>
                                <small class="text-muted">300</small>
                            </div>
                            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 85px; height: 49px;"></div></div><div class="contract-trigger"></div>
                        </div>
                        </div>
                        <div class="align-content-center d-flex" style="position: relative;">
                            <div class="chart-report" data-color="info" data-series="50" style="min-height: 47.7px;">
                                <div id="apexchartsw7qj8ngw" class="apexcharts-canvas apexchartsw7qj8ngw apexcharts-theme-light" style="width: 40px; height: 47.7px;">
                                    <svg id="SvgjsSvg2714" width="40" height="47.7" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
                                        <g id="SvgjsG2716" class="apexcharts-inner apexcharts-graphical" transform="translate(-15, -10)">
                                            <defs id="SvgjsDefs2715">
                                                <clipPath id="gridRectMaskw7qj8ngw">
                                                    <rect id="SvgjsRect2718" width="71" height="82" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath><clipPath id="forecastMaskw7qj8ngw"></clipPath><clipPath id="nonForecastMaskw7qj8ngw"></clipPath><clipPath id="gridRectMarkerMaskw7qj8ngw"><rect id="SvgjsRect2719" width="69" height="84" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath>
                                            </defs><g id="SvgjsG2720" class="apexcharts-radialbar"><g id="SvgjsG2721"><g id="SvgjsG2722" class="apexcharts-tracks"><g id="SvgjsG2723" class="apexcharts-radialbar-track apexcharts-track" rel="1"><path id="apexcharts-radialbarTrack-0" d="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 1 1 32.497365148808946 17.40341486408048" fill="none" fill-opacity="1" stroke="rgba(233,236,238,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="3.628273170731709" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 1 1 32.497365148808946 17.40341486408048"></path></g></g><g id="SvgjsG2725"><g id="SvgjsG2727" class="apexcharts-series apexcharts-radial-series" seriesName="Progress" rel="1" data:realIndex="0"><path id="SvgjsPath2728" d="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 0 1 32.5 47.596585365853656" fill="none" fill-opacity="0.85" stroke="rgba(0,207,221,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="3.7404878048780503" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="180" data:value="50" index="0" j="0" data:pathOrig="M 32.5 17.40341463414634 A 15.09658536585366 15.09658536585366 0 0 1 32.5 47.596585365853656"></path></g><circle id="SvgjsCircle2726" r="8.282448780487805" cx="32.5" cy="32.5" class="apexcharts-radialbar-hollow" fill="transparent"></circle></g></g></g><line id="SvgjsLine2729" x1="0" y1="0" x2="65" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2730" x1="0" y1="0" x2="65" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
                                        </g>
                                        <g id="SvgjsG2717" class="apexcharts-annotations"></g>
                                    </svg><div class="apexcharts-legend"></div>
                                </div>
                            </div>
                            <div class="chart-info ms-2">
                                <h5 class="mb-0">المقيدة</h5>
                                <small class="text-muted">13</small>
                            </div>
                            <div class="resize-triggers">
                                <div class="expand-trigger">
                                    <div style="width: 85px; height: 49px;"></div>
                                </div><div class="contract-trigger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-xxl-4 col-md-6 col-lg-4 col-xl-4 mb-4">

            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">عدد التراخيص المنتهي الصلاحية</h5>
                    <div class="dropdown">
                        <button class="btn p-0" type="button" id="visitsOptions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="visitsOptions">
                            <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                            <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="position: relative;">
                    <div id="visitsRadialChart" style="min-height: 227.5px;">
                        <div id="apexcharts3an73xef" class="apexcharts-canvas
apexcharts3an73xef apexcharts-theme-light"
                             style="width: 338px; height: 227.5px;">
                            <svg id="SvgjsSvg2539"
                                 width="338"
                                 height="227.5000011444092"
                                 xmlns="http://www.w3.org/2000/svg"
                                 version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xmlns:svgjs="http://svgjs.dev"
                                 class="apexcharts-svg"
                                 xmlns:data="ApexChartsNS"
                                 transform="translate(0, 0)"
                                 style="background: transparent;">
                                <foreignObject x="0" y="0" width="338" height="227.5000011444092">
                                    <div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom"
                                         xmlns="http://www.w3.org/1999/xhtml" style="inset: auto 0px 1px; position: absolute; max-height: 135px;">
                                        <div class="apexcharts-legend-series" rel="1"
                                             seriesname="Target"
                                             data:collapsed="false" style="margin: 2px 15px;">
                                            <span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(90, 141, 238) !important; color: rgb(90, 141, 238); height: 10px; width: 10px; left: -3px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Target" data:collapsed="false" style="color: rgb(168, 177, 187); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Target</span>
                                        </div><div class="apexcharts-legend-series" rel="2" seriesname="Mart" data:collapsed="false" style="margin: 2px 15px;"><span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(255, 91, 92) !important; color: rgb(255, 91, 92); height: 10px; width: 10px; left: -3px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Mart" data:collapsed="false" style="color: rgb(168, 177, 187); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Mart</span></div><div class="apexcharts-legend-series" rel="3" seriesname="Ebay" data:collapsed="false" style="margin: 2px 15px;">
                                            <span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="background: rgb(253, 172, 65) !important; color: rgb(253, 172, 65); height: 10px; width: 10px; left: -3px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="3" i="2" data:default-text="Ebay" data:collapsed="false" style="color: rgb(168, 177, 187); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">
                                                Ebay
                                            </span>
                                        </div>
                                    </div>
                                    <style type="text/css">

                                        .apexcharts-legend {
                                            display: flex;
                                            overflow: auto;
                                            padding: 0 10px;
                                        }

                                            .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
                                                flex-wrap: wrap
                                            }

                                            .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                flex-direction: column;
                                                bottom: 0;
                                            }

                                            .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                justify-content: flex-start;
                                            }

                                            .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
                                                justify-content: center;
                                            }

                                            .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
                                                justify-content: flex-end;
                                            }

                                        .apexcharts-legend-series {
                                            cursor: pointer;
                                            line-height: normal;
                                        }

                                        .apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series, .apexcharts-legend.apx-legend-position-top .apexcharts-legend-series {
                                            display: flex;
                                            align-items: center;
                                        }

                                        .apexcharts-legend-text {
                                            position: relative;
                                            font-size: 14px;
                                        }

                                            .apexcharts-legend-text *, .apexcharts-legend-marker * {
                                                pointer-events: none;
                                            }

                                        .apexcharts-legend-marker {
                                            position: relative;
                                            display: inline-block;
                                            cursor: pointer;
                                            margin-right: 3px;
                                            border-style: solid;
                                        }

                                        .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series, .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series {
                                            display: inline-block;
                                        }

                                        .apexcharts-legend-series.apexcharts-no-click {
                                            cursor: auto;
                                        }

                                        .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
                                            display: none !important;
                                        }

                                        .apexcharts-inactive-legend {
                                            opacity: 0.45;
                                        }</style>
                                </foreignObject>
                                <g id="SvgjsG2541" class="apexcharts-inner apexcharts-graphical" transform="translate(12, -20)"><defs id="SvgjsDefs2540"><clipPath id="gridRectMask3an73xef">

                                    <rect id="SvgjsRect2543" width="322" height="230" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff">
                                        </rect></clipPath><clipPath id="forecastMask3an73xef"></clipPath><clipPath id="nonForecastMask3an73xef"></clipPath><clipPath id="gridRectMarkerMask3an73xef">
                                            <rect id="SvgjsRect2544" width="320" height="232" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff">
                                                </rect></clipPath></defs><g id="SvgjsG2545" class="apexcharts-radialbar"><g id="SvgjsG2546"><g id="SvgjsG2547" class="apexcharts-tracks"><g id="SvgjsG2548" class="apexcharts-radialbar-track apexcharts-track" rel="1"><path id="apexcharts-radialbarTrack-0" d="M 158 25.48201219512194 A 88.51798780487806 88.51798780487806 0 1 1 157.98455069673406 25.48201354332798" fill="none" fill-opacity="1" stroke="rgba(255,255,255,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="4.333652439024394" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 158 25.48201219512194 A 88.51798780487806 88.51798780487806 0 1 1 157.98455069673406 25.48201354332798"></path></g><g id="SvgjsG2550" class="apexcharts-radialbar-track apexcharts-track" rel="2"><path id="apexcharts-radialbarTrack-1" d="M 158 39.94969512195121 A 74.05030487804879 74.05030487804879 0 1 1 157.98707578374334 39.949696249801846" fill="none" fill-opacity="1" stroke="rgba(255,255,255,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="4.333652439024394" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 158 39.94969512195121 A 74.05030487804879 74.05030487804879 0 1 1 157.98707578374334 39.949696249801846"></path></g><g id="SvgjsG2552" class="apexcharts-radialbar-track apexcharts-track" rel="3"><path id="apexcharts-radialbarTrack-2" d="M 158 54.41737804878048 A 59.58262195121952 59.58262195121952 0 1 1 157.98960087075258 54.4173789562757" fill="none" fill-opacity="1" stroke="rgba(255,255,255,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="4.333652439024394" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 158 54.41737804878048 A 59.58262195121952 59.58262195121952 0 1 1 157.98960087075258 54.4173789562757"></path></g></g><g id="SvgjsG2554"><g id="SvgjsG2559" class="apexcharts-series apexcharts-radial-series" seriesName="Target" rel="1" data:realIndex="0"><path id="SvgjsPath2560" d="M 158 25.48201219512194 A 88.51798780487806 88.51798780487806 0 1 1 69.48201219512194 114.00000000000001" fill="none" fill-opacity="0.85" stroke="rgba(90,141,238,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="4.467682926829271" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="270" data:value="75" index="0" j="0" data:pathOrig="M 158 25.48201219512194 A 88.51798780487806 88.51798780487806 0 1 1 69.48201219512194 114.00000000000001"></path></g><g id="SvgjsG2561" class="apexcharts-series apexcharts-radial-series" seriesName="Mart" rel="2" data:realIndex="1"><path id="SvgjsPath2562" d="M 158 39.94969512195121 A 74.05030487804879 74.05030487804879 0 1 1 87.57397501208891 91.11719735403683" fill="none" fill-opacity="0.85" stroke="rgba(255,91,92,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="4.467682926829271" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-1" data:angle="288" data:value="80" index="0" j="1" data:pathOrig="M 158 39.94969512195121 A 74.05030487804879 74.05030487804879 0 1 1 87.57397501208891 91.11719735403683"></path></g><g id="SvgjsG2563" class="apexcharts-series apexcharts-radial-series" seriesName="Ebay" rel="3" data:realIndex="2"><path id="SvgjsPath2564" d="M 158 54.41737804878048 A 59.58262195121952 59.58262195121952 0 1 1 109.7966462720456 78.9782135241554" fill="none" fill-opacity="0.85" stroke="rgba(253,172,65,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="4.467682926829271" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-2" data:angle="306" data:value="85" index="0" j="2" data:pathOrig="M 158 54.41737804878048 A 59.58262195121952 59.58262195121952 0 1 1 109.7966462720456 78.9782135241554"></path></g><circle id="SvgjsCircle2555" r="52.41579573170733" cx="158" cy="114" class="apexcharts-radialbar-hollow" fill="transparent"></circle><g id="SvgjsG2556" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText2557" font-family="IBM Plex Sans" x="158" y="139" text-anchor="middle" dominant-baseline="auto" font-size="15px" font-weight="400" fill="#69809a" class="apexcharts-text apexcharts-datalabel-label" style="font-family: &quot,IBM Plex Sans,&quot">Total Visits</text>
                                    <text id="SvgjsText2558" font-family="Rubik" x="158" y="115" text-anchor="middle" dominant-baseline="auto" font-size="2rem" font-weight="500" fill="#516377" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Rubik;">80%</text></g></g></g></g><line id="SvgjsLine2565" x1="0" y1="0" x2="316" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2566" x1="0" y1="0" x2="316" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g>
                                <g id="SvgjsG2542" class="apexcharts-annotations"></g>
                            </svg>
                        </div>
                    </div>
                    <div class="resize-triggers"><div class="expand-trigger">
                        <div style="width: 383px; height: 251px;"></div></div><div class="contract-trigger"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-md-6 col-lg-4 col-xl-4 mb-4">
            <div class="card ">
                <div class="card-header d-flex justify-content-between align-items-start">
                    <div class="card-title mb-0">
                        <h5 class="m-0 me-2">المبيعات</h5>
                        <small class="card-subtitle text-muted">المسحوبة في آخر 7 أيام</small>
                    </div>
                    <div class="dropdown">
                        <button class="btn p-0"
                                type="button"
                                id="salesReport"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="salesReport">
                            <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                            <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="salesChart"></div>
                    <ul class="p-0 m-0">
                        <li class="d-flex mb-3">
                            <span class="text-primary me-2"><i class="bx bx-up-arrow-alt bx-sm"></i></span>
                            <div class="gap-2 d-flex flex-wrap justify-content-between align-items-center w-100">
                                <div class="me-2">
                                    <h6 class="lh-1 mb-0">أفضل مبيعات</h6>
                                    <small class="text-muted">السبت</small>
                                </div>
                                <div class="item-progress">28.6k</div>
                            </div>
                        </li>
                        <li class="d-flex">
                            <span class="text-secondary me-2"><i class="bx bx-down-arrow-alt bx-sm"></i></span>
                            <div class="gap-2 d-flex flex-wrap justify-content-between align-items-center w-100">
                                <div class="me-2">
                                    <h6 class="lh-1 mb-0">أدنى مبيعات</h6>
                                    <small class="text-muted">الخميس</small>
                                </div>
                                <div class="item-progress">7.9k</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-8 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="avatar avatar-md mx-auto mb-3">
                        <span class="avatar-initial bg-label-danger rounded-circle"><i class="bx bx-message-square-detail fs-3"></i></span>
                    </div>
                    <span class="d-block text-nowrap mb-1">إجمالي المخالفات</span>
                    <h2 class="mb-0">29</h2>
                </div>
            </div>
        </div>
       
      <div class="col-6 col-sm-6 col-md-8 col-lg-4 col-xl-3 mb-4">

            <div class="card">
                <div class="card-body text-center">
                    <div class="avatar avatar-md mx-auto mb-3">
                        <span class="avatar-initial bg-label-primary rounded-circle"><i class="bx bx-cube fs-3"></i></span>
                    </div>
                    <span class="d-block text-nowrap mb-1">إجمالي المخازن</span>
                    <h2 class="mb-0">72</h2>
                </div>
            </div>
        </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-2 mb-4">
            <div class="card">
                <div class="card-body text-center">

                    <div class="avatar avatar-md mx-auto mb-3">
                        <span class="avatar-initial bg-label-warning rounded-circle"><i b-kcj6918upk="" class="menu-icon tf-icons bx bx-food-menu"></i></i></span>
                    </div>

                    <span class="d-block text-nowrap mb-1">إجمالي الفواتير </span>
                    <h2 class="mb-0">29</h2>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-2 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="avatar avatar-md mx-auto mb-3">
                        <span class="avatar-initial bg-label-success rounded-circle"><i class="bx bx-purchase-tag fs-3"></i></span>
                    </div>
                    <span class="d-block text-nowrap mb-1">إجمالي مراقبة </span>
                    <h2 class="mb-0">65</h2>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-2 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="avatar avatar-md mx-auto mb-3">
                        <span class="avatar-initial bg-label-danger rounded-circle"><i class="menu-icon tf-icons bx bx-task"></i></span>
                    </div>

                    <span class="d-block text-nowrap mb-1">إجمالي التقارير</span>
                    <h2 class="mb-0">40</h2>
                </div>
            </div>
        </div>

    </div>
    <!-- Sales -->
    <!--/ Sales -->
    <!-- Finance Summary -->
    <div class="col-12 col-lg-12 order-0 mb-4 mb-lg-0">
        <div class="card">
            <div class="row row-bordered m-0">
                <!-- Order Summary -->
                <div class="col-12 col-md-8 px-0">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">ملخص الأسبوع الماضي</h5>
                        <div class="dropdown">
                            <button class="btn p-0" type="button" id="orderSummaryOptions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orderSummaryOptions">
                                <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                <a class="dropdown-item" href="javascript:void(0);">Share</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0" style="position: relative;">
                        <div id="orderSummaryChart" style="min-height: 265px;">
                            <div id="apexcharts8bak9b8mj" class="apexcharts-canvas apexcharts8bak9b8mj apexcharts-theme-light" style="width: 608px; height: 250px;">
                                <svg id="SvgjsSvg2975" width="608" height="250" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;">
                                    <g id="SvgjsG2977" class="apexcharts-inner apexcharts-graphical" transform="translate(52.45102500915527, 15)">
                                        <defs id="SvgjsDefs2976">
                                            <clipPath id="gridRectMask8bak9b8mj">
                                                <rect id="SvgjsRect2983" width="541.8481817245483" height="210.70079907417298" x="-4" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                            </clipPath><clipPath id="forecastMask8bak9b8mj"></clipPath><clipPath id="nonForecastMask8bak9b8mj"></clipPath><clipPath id="gridRectMarkerMask8bak9b8mj"><rect id="SvgjsRect2984" width="561.8481817245483" height="234.70079907417298" x="-14" y="-14" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><linearGradient id="SvgjsLinearGradient3008" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop3009" stop-opacity="0.7" stop-color="rgba(90,141,238,0.7)" offset="0"></stop><stop id="SvgjsStop3010" stop-opacity="0.25" stop-color="rgba(222,232,252,0.25)" offset="0.95"></stop><stop id="SvgjsStop3011" stop-opacity="0.25" stop-color="rgba(222,232,252,0.25)" offset="1"></stop></linearGradient><filter id="SvgjsFilter3013" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood3014" flood-color="#5a8dee" flood-opacity="0.15" result="SvgjsFeFlood3014Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite3015" in="SvgjsFeFlood3014Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite3015Out"></feComposite><feOffset id="SvgjsFeOffset3016" dx="2" dy="18" result="SvgjsFeOffset3016Out" in="SvgjsFeComposite3015Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur3017" stdDeviation="3 " result="SvgjsFeGaussianBlur3017Out" in="SvgjsFeOffset3016Out"></feGaussianBlur><feMerge id="SvgjsFeMerge3018" result="SvgjsFeMerge3018Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode3019" in="SvgjsFeGaussianBlur3017Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode3020" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend3021" in="SourceGraphic" in2="SvgjsFeMerge3018Out" mode="normal" result="SvgjsFeBlend3021Out"></feBlend></filter><filter id="SvgjsFilter3023" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood3024" flood-color="#5a8dee" flood-opacity="0.15" result="SvgjsFeFlood3024Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite3025" in="SvgjsFeFlood3024Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite3025Out"></feComposite><feOffset id="SvgjsFeOffset3026" dx="2" dy="18" result="SvgjsFeOffset3026Out" in="SvgjsFeComposite3025Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur3027" stdDeviation="3 " result="SvgjsFeGaussianBlur3027Out" in="SvgjsFeOffset3026Out"></feGaussianBlur><feMerge id="SvgjsFeMerge3028" result="SvgjsFeMerge3028Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode3029" in="SvgjsFeGaussianBlur3027Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode3030" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend3031" in="SourceGraphic" in2="SvgjsFeMerge3028Out" mode="normal" result="SvgjsFeBlend3031Out"></feBlend></filter>
                                        </defs><line id="SvgjsLine2982" x1="474.03171708848737" y1="0" x2="474.03171708848737" y2="206.70079907417298" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="474.03171708848737" y="0" width="1" height="206.70079907417298" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG3032" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG3033" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText3035" font-family="Helvetica, Arial, sans-serif" x="0" y="235.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3036">Jan</tspan><title>Jan</title></text><text id="SvgjsText3038" font-family="Helvetica, Arial, sans-serif" x="59.316464636060935" y="235.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3039">Feb</tspan><title>Feb</title></text><text id="SvgjsText3041" font-family="Helvetica, Arial, sans-serif" x="118.63292927212188" y="235.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3042">Mar</tspan><title>Mar</title></text><text id="SvgjsText3044" font-family="Helvetica, Arial, sans-serif" x="177.9493939081828" y="235.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3045">Apr</tspan><title>Apr</title></text><text id="SvgjsText3047" font-family="Helvetica, Arial, sans-serif" x="237.2658585442437" y="235.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3048">May</tspan><title>May</title></text><text id="SvgjsText3050" font-family="Helvetica, Arial, sans-serif" x="296.5823231803046" y="235.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3051">Jun</tspan><title>Jun</title></text><text id="SvgjsText3053" font-family="Helvetica, Arial, sans-serif" x="355.89878781636554" y="235.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3054">Jul</tspan><title>Jul</title></text><text id="SvgjsText3056" font-family="Helvetica, Arial, sans-serif" x="415.21525245242645" y="235.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3057">Aug</tspan><title>Aug</title></text><text id="SvgjsText3059" font-family="Helvetica, Arial, sans-serif" x="474.53171708848737" y="235.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3060">Sep</tspan><title>Sep</title></text><text id="SvgjsText3062" font-family="Helvetica, Arial, sans-serif" x="533.8481817245482" y="235.70079907417298" text-anchor="middle" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3063">Oct</tspan><title>Oct</title></text></g></g><g id="SvgjsG3076" class="apexcharts-grid"><g id="SvgjsG3077" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine3079" x1="0" y1="0" x2="533.8481817245483" y2="0" stroke="#e9ecee" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine3080" x1="0" y1="51.675199768543244" x2="533.8481817245483" y2="51.675199768543244" stroke="#e9ecee" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine3081" x1="0" y1="103.35039953708649" x2="533.8481817245483" y2="103.35039953708649" stroke="#e9ecee" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine3082" x1="0" y1="155.02559930562973" x2="533.8481817245483" y2="155.02559930562973" stroke="#e9ecee" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine3083" x1="0" y1="206.70079907417298" x2="533.8481817245483" y2="206.70079907417298" stroke="#e9ecee" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG3078" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine3085" x1="0" y1="206.70079907417298" x2="533.8481817245483" y2="206.70079907417298" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine3084" x1="0" y1="1" x2="0" y2="206.70079907417298" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG2985" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG2986" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath3012" d="M 0 206.70079907417298L 0 129.18799942135809C 20.76076262262132 129.18799942135809 38.5557020134396 113.68543949079513 59.31646463606092 113.68543949079513C 80.07722725868224 113.68543949079513 97.87216664950051 139.52303937506676 118.63292927212184 139.52303937506676C 139.39369189474317 139.52303937506676 157.18863128556146 108.51791951394081 177.94939390818277 108.51791951394081C 198.71015653080408 108.51791951394081 216.50509592162237 124.02047944450378 237.26585854424368 124.02047944450378C 258.026621166865 124.02047944450378 275.8215605576833 46.5076797916889 296.5823231803046 46.5076797916889C 317.34308580292594 46.5076797916889 335.1380251937442 113.68543949079513 355.89878781636554 113.68543949079513C 376.65955043898686 113.68543949079513 394.45448982980514 72.34527967596054 415.21525245242645 72.34527967596054C 435.97601507504777 72.34527967596054 453.77095446586605 87.84783960652351 474.53171708848737 87.84783960652351C 495.2924797111087 87.84783960652351 513.087419101927 5.167519976854322 533.8481817245483 5.167519976854322C 533.8481817245483 5.167519976854322 533.8481817245483 5.167519976854322 533.8481817245483 206.70079907417298M 533.8481817245483 5.167519976854322z" fill="url(#SvgjsLinearGradient3008)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask8bak9b8mj)" filter="url(#SvgjsFilter3013)" pathTo="M 0 206.70079907417298L 0 129.18799942135809C 20.76076262262132 129.18799942135809 38.5557020134396 113.68543949079513 59.31646463606092 113.68543949079513C 80.07722725868224 113.68543949079513 97.87216664950051 139.52303937506676 118.63292927212184 139.52303937506676C 139.39369189474317 139.52303937506676 157.18863128556146 108.51791951394081 177.94939390818277 108.51791951394081C 198.71015653080408 108.51791951394081 216.50509592162237 124.02047944450378 237.26585854424368 124.02047944450378C 258.026621166865 124.02047944450378 275.8215605576833 46.5076797916889 296.5823231803046 46.5076797916889C 317.34308580292594 46.5076797916889 335.1380251937442 113.68543949079513 355.89878781636554 113.68543949079513C 376.65955043898686 113.68543949079513 394.45448982980514 72.34527967596054 415.21525245242645 72.34527967596054C 435.97601507504777 72.34527967596054 453.77095446586605 87.84783960652351 474.53171708848737 87.84783960652351C 495.2924797111087 87.84783960652351 513.087419101927 5.167519976854322 533.8481817245483 5.167519976854322C 533.8481817245483 5.167519976854322 533.8481817245483 5.167519976854322 533.8481817245483 206.70079907417298M 533.8481817245483 5.167519976854322z" pathFrom="M -1 206.70079907417298L -1 206.70079907417298L 59.31646463606092 206.70079907417298L 118.63292927212184 206.70079907417298L 177.94939390818277 206.70079907417298L 237.26585854424368 206.70079907417298L 296.5823231803046 206.70079907417298L 355.89878781636554 206.70079907417298L 415.21525245242645 206.70079907417298L 474.53171708848737 206.70079907417298L 533.8481817245483 206.70079907417298"></path><path id="SvgjsPath3022" d="M 0 129.18799942135809C 20.76076262262132 129.18799942135809 38.5557020134396 113.68543949079513 59.31646463606092 113.68543949079513C 80.07722725868224 113.68543949079513 97.87216664950051 139.52303937506676 118.63292927212184 139.52303937506676C 139.39369189474317 139.52303937506676 157.18863128556146 108.51791951394081 177.94939390818277 108.51791951394081C 198.71015653080408 108.51791951394081 216.50509592162237 124.02047944450378 237.26585854424368 124.02047944450378C 258.026621166865 124.02047944450378 275.8215605576833 46.5076797916889 296.5823231803046 46.5076797916889C 317.34308580292594 46.5076797916889 335.1380251937442 113.68543949079513 355.89878781636554 113.68543949079513C 376.65955043898686 113.68543949079513 394.45448982980514 72.34527967596054 415.21525245242645 72.34527967596054C 435.97601507504777 72.34527967596054 453.77095446586605 87.84783960652351 474.53171708848737 87.84783960652351C 495.2924797111087 87.84783960652351 513.087419101927 5.167519976854322 533.8481817245483 5.167519976854322" fill="none" fill-opacity="1" stroke="#5a8dee" stroke-opacity="1" stroke-linecap="round" stroke-width="4" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask8bak9b8mj)" filter="url(#SvgjsFilter3023)" pathTo="M 0 129.18799942135809C 20.76076262262132 129.18799942135809 38.5557020134396 113.68543949079513 59.31646463606092 113.68543949079513C 80.07722725868224 113.68543949079513 97.87216664950051 139.52303937506676 118.63292927212184 139.52303937506676C 139.39369189474317 139.52303937506676 157.18863128556146 108.51791951394081 177.94939390818277 108.51791951394081C 198.71015653080408 108.51791951394081 216.50509592162237 124.02047944450378 237.26585854424368 124.02047944450378C 258.026621166865 124.02047944450378 275.8215605576833 46.5076797916889 296.5823231803046 46.5076797916889C 317.34308580292594 46.5076797916889 335.1380251937442 113.68543949079513 355.89878781636554 113.68543949079513C 376.65955043898686 113.68543949079513 394.45448982980514 72.34527967596054 415.21525245242645 72.34527967596054C 435.97601507504777 72.34527967596054 453.77095446586605 87.84783960652351 474.53171708848737 87.84783960652351C 495.2924797111087 87.84783960652351 513.087419101927 5.167519976854322 533.8481817245483 5.167519976854322" pathFrom="M -1 206.70079907417298L -1 206.70079907417298L 59.31646463606092 206.70079907417298L 118.63292927212184 206.70079907417298L 177.94939390818277 206.70079907417298L 237.26585854424368 206.70079907417298L 296.5823231803046 206.70079907417298L 355.89878781636554 206.70079907417298L 415.21525245242645 206.70079907417298L 474.53171708848737 206.70079907417298L 533.8481817245483 206.70079907417298"></path><g id="SvgjsG2987" class="apexcharts-series-markers-wrap" data:realIndex="0"><g id="SvgjsG2989" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMask8bak9b8mj)"><circle id="SvgjsCircle2990" r="6" cx="0" cy="129.18799942135809" class="apexcharts-marker no-pointer-events w11v28ibx" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="4" stroke-opacity="0.9" rel="0" j="0" index="0" default-marker-size="6"></circle><circle id="SvgjsCircle2991" r="6" cx="59.31646463606092" cy="113.68543949079513" class="apexcharts-marker no-pointer-events wmj0rpdnj" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="4" stroke-opacity="0.9" rel="1" j="1" index="0" default-marker-size="6"></circle></g><g id="SvgjsG2992" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMask8bak9b8mj)"><circle id="SvgjsCircle2993" r="6" cx="118.63292927212184" cy="139.52303937506676" class="apexcharts-marker no-pointer-events wrgx4ebc7" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="4" stroke-opacity="0.9" rel="2" j="2" index="0" default-marker-size="6"></circle></g><g id="SvgjsG2994" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMask8bak9b8mj)"><circle id="SvgjsCircle2995" r="6" cx="177.94939390818277" cy="108.51791951394081" class="apexcharts-marker no-pointer-events wx8b13cjm" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="4" stroke-opacity="0.9" rel="3" j="3" index="0" default-marker-size="6"></circle></g><g id="SvgjsG2996" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMask8bak9b8mj)"><circle id="SvgjsCircle2997" r="6" cx="237.26585854424368" cy="124.02047944450378" class="apexcharts-marker no-pointer-events wvuysv3oc" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="4" stroke-opacity="0.9" rel="4" j="4" index="0" default-marker-size="6"></circle></g><g id="SvgjsG2998" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMask8bak9b8mj)"><circle id="SvgjsCircle2999" r="6" cx="296.5823231803046" cy="46.5076797916889" class="apexcharts-marker no-pointer-events wnd9c77z4" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="4" stroke-opacity="0.9" rel="5" j="5" index="0" default-marker-size="6"></circle></g><g id="SvgjsG3000" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMask8bak9b8mj)"><circle id="SvgjsCircle3001" r="6" cx="355.89878781636554" cy="113.68543949079513" class="apexcharts-marker no-pointer-events wynu5vaqv" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="4" stroke-opacity="0.9" rel="6" j="6" index="0" default-marker-size="6"></circle></g><g id="SvgjsG3002" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMask8bak9b8mj)"><circle id="SvgjsCircle3003" r="6" cx="415.21525245242645" cy="72.34527967596054" class="apexcharts-marker no-pointer-events w6vllhkei" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="4" stroke-opacity="0.9" rel="7" j="7" index="0" default-marker-size="6"></circle></g><g id="SvgjsG3004" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMask8bak9b8mj)"><circle id="SvgjsCircle3005" r="6" cx="474.53171708848737" cy="87.84783960652351" class="apexcharts-marker no-pointer-events wea8tzersf" stroke="transparent" fill="transparent" fill-opacity="1" stroke-width="4" stroke-opacity="0.9" rel="8" j="8" index="0" default-marker-size="6"></circle></g><g id="SvgjsG3006" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMask8bak9b8mj)"><circle id="SvgjsCircle3007" r="6" cx="533.8481817245483" cy="5.167519976854322" class="apexcharts-marker no-pointer-events wzmzrwby2" stroke="#5a8dee" fill="#ffffff" fill-opacity="1" stroke-width="4" stroke-opacity="0.9" rel="9" j="9" index="0" default-marker-size="6"></circle></g></g></g><g id="SvgjsG2988" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine3086" x1="0" y1="0" x2="533.8481817245483" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine3087" x1="0" y1="0" x2="533.8481817245483" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG3088" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG3089" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG3090" class="apexcharts-point-annotations"></g><rect id="SvgjsRect3091" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect3092" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect>
                                    </g>
                                    <rect id="SvgjsRect2981" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect>
                                    <g id="SvgjsG3064" class="apexcharts-yaxis" rel="0" transform="translate(26.451025009155273, 0)"><g id="SvgjsG3065" class="apexcharts-yaxis-texts-g"><text id="SvgjsText3066" font-family="Helvetica, Arial, sans-serif" x="20" y="16.4" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3067">$40</tspan><title>$40</title></text><text id="SvgjsText3068" font-family="Helvetica, Arial, sans-serif" x="20" y="68.07519976854326" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3069">$30</tspan><title>$30</title></text><text id="SvgjsText3070" font-family="Helvetica, Arial, sans-serif" x="20" y="119.75039953708651" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3071">$20</tspan><title>$20</title></text><text id="SvgjsText3072" font-family="Helvetica, Arial, sans-serif" x="20" y="171.42559930562976" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3073">$10</tspan><title>$10</title></text><text id="SvgjsText3074" font-family="Helvetica, Arial, sans-serif" x="20" y="223.100799074173" text-anchor="end" dominant-baseline="auto" font-size="13px" font-weight="400" fill="#a8b1bb" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan3075">$0</tspan><title>$0</title></text></g></g>
                                    <g id="SvgjsG2978" class="apexcharts-annotations"></g>
                                </svg><div class="apexcharts-legend" style="max-height: 125px;"></div><div class="apexcharts-tooltip apexcharts-theme-light" style="left: 401.783px; top: 91.3478px;"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">Sep</div><div class="apexcharts-tooltip-series-group apexcharts-active" style="order: 1; display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(90, 141, 238);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">series-1: </span><span class="apexcharts-tooltip-text-y-value">$23</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light" style="left: 500.733px; top: 223.701px;"><div class="apexcharts-xaxistooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; min-width: 26.7px;">Sep</div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div>
                            </div>
                        </div>
                        <div class="resize-triggers"><div class="expand-trigger"><div style="width: 609px; height: 266px;"></div></div><div class="contract-trigger"></div></div>
                    </div>
                </div>
                <!-- Sales History -->
                <div class="col-12 col-md-4 px-0">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">نظرة عامة على المبيعات</h5>
                        <div class="dropdown">
                            <button class="btn p-0" type="button" id="salesOverviewOptions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="salesOverviewOptions">
                                <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                <a class="dropdown-item" href="javascript:void(0);">Share</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="mt-3">الأسبوع الماضي</h6>
                        <p class="mb-4">
                            الأداء 45% بشكل أفضل مقارنة
                            في الشهر الماضي
                        </p>
                        <ul class="list-unstyled pt-2 mb-2">
                            <li class="mb-4">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="avatar avatar-sm flex-shrink-0 me-2">
                                        <span class="avatar-initial bg-label-primary rounded"><i class="bx bx-trending-up"></i></span>
                                    </div>
                                    <div>
                                        <p class="lh-1 text-muted text-nowrap mb-0">عمليات اضافة مراقبة مخزون تمت خلال  الشهر</p>
                                        <small class="fw-semibold text-nowrap">4</small>
                                    </div>
                                </div>
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-primary" style="width: 75%"
                                         role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="avatar avatar-sm flex-shrink-0 me-2">
                                        <span class="avatar-initial bg-label-success rounded"><i class="bx bx-dollar"></i></span>
                                    </div>
                                    <div>
                                        <p class="lh-1 text-muted text-nowrap mb-0">متوسط المبيعات اليومية</p>
                                        <small class="fw-semibold text-nowrap">$12,398</small>
                                    </div>
                                </div>
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



