       
             <!-- عرض التراخيص -->
     <!-- Content -->
     
<div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="breadcrumb-wrapper py-3 mb-4"><span class="text-muted fw-light">الصفحة الرئيسية / </span> عرض فحص الثلاجات
 </h4>
 
              
              <!-- DataTable with Buttons -->
              <div class="card">
                <div class="card-datatable table-responsive pt-0">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                      <div class="card-header flex-column flex-md-row">
                          <div class="head-label text-center">
                      <h5 class="card-title mb-0">عرض فحص الثلاجات </h5>
                          </div>

                          <div class="dt-action-buttons text-end pt-3 pt-md-0">
                         </div>
                     <a asp-action="DetailsExamination"> <button class="dt-button create-new btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                          <span class="d-none d-sm-inline-block">رجوع  </span></button></a>     
                     </div>
                        

                            <!-- Scrollable -->
                   <div class="card-datatable text-nowrap">
                  <table class="dt-scrollableTable table table-bordered">
                    <thead>
                      <tr class="table-light">
                        <th>   شروط الفحص والمعاينة</th> 
                        <th>  نتائج الفحص الثلاجات</th> 
                      </tr>
                      
                      <tr>
                        <th>  كفاءة عمل الثلاجات</th>
                        <td> نتائج الفحص الثلاجات</td>
                        
                      </tr>
                      <tr>
                        <th> درجه حرارة داخل ثلاجه التجميد لا تقل عن 18  درجه مئوية</th>
                        <td> نتائج الفحص الثلاجات</td>
                        
                      </tr> 
                      <tr>
                        <th>   درجه حرارة داخل ثلاجه التبريد لا تزيد عن 4 درجات مئوية</th>
                        <th> نتائج الفحص الثلاجات</th>
                        
                      </tr>
                      <tr>
                        <th> توفر اجهزه قياس درجة الحرارة</th>
                        <th> نتائج الفحص الثلاجات</th>
                        
                      </tr> 
                      <tr>
                        <th>  تحميل الثلاجة مطابق للسعه التخزينية المقررة</th>
                        <th> نتائج الفحص الثلاجات</th>
                        
                      </tr>
                      <tr>
                        <th>  ترتيب المواد المخزنة بالثلاجة </th>
                        <th> نتائج الفحص الثلاجات</th>
                        
                      </tr>
                      <tr>
                        <th> عدم وجود مواد تالفه أو فاسده أو غير صالحة داخل المخازن </th>
                        <th> نتائج الفحص الثلاجات</th>
                        
                      </tr>
                      <tr>
                        <th>اسم المختص </th>
                        <th> نتائج الفحص الثلاجات</th>
                        
                      </tr>
                      <tr>
                        <th>الخالة </th>
                        <th> نتائج الفحص الثلاجات</th>
                        
                      </tr>
                    </thead>

                  </table>
                </div>
              </div>
              <!--/ Scrollable -->
                 <!--/ Basic Pagination -->
            
      </div>
                </div>
              </div>
     
     
       
         
