<div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="breadcrumb-wrapper py-3 mb-4"><span class="text-muted fw-light">الصفحة الرئيسية / </span> موقع المخزن من الأماكن الرطبة
 </h4>

              <!-- عرض التراخيص -->
              
              <!-- DataTable with Buttons -->
              <div class="card">
                <div class="card-datatable table-responsive pt-0">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                      <div class="card-header flex-column flex-md-row">
                          <div class="head-label text-center">

                      <h5 class="card-title mb-0">موقع المخزن من الأماكن الرطبة </h5>
                          </div>
                          <div class="dt-action-buttons text-end pt-3 pt-md-0">
                         </div>
                     
                         <a asp-action="DetailsExamination"> <button class="dt-button create-new btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                          <span class="d-none d-sm-inline-block">رجوع  </span></button></a>    
                     </div>
                        

                            <!-- Scrollable -->
                   <div class="card-datatable text-nowrap">
                  <table class="dt-scrollableTable table table-bordered">
                      <thead>
                      <tr role="row" class="table-light">
                         
                          <th colspan="2" rowspan="1">درجة الحرارة</th>
                          <th colspan="3" rowspan="1"> الرطوبة </th>
                      </tr>
                      <tr role="row"><th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="E-mail: activate to sort column ascending" style="width: 115.2px;"> من</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="City: activate to sort column ascending" style="width: 91.2px;">الى</th>
                          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 150.2px;">من</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 127.2px;">الى</th>
                 
                 
                       </tr> 
                      
                    </thead>

                  </table>
                </div>
              </div>
              <!--/ Scrollable -->
                  <!--/ Basic Pagination -->
                   

      </div>
                </div>
              </div>
     
     
      






