@model WMS.Models.Sector

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>التفاصيل</h1>

<div>
    <h4>القطاع</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SectorId">تعديل</a> |
    <a asp-action="Index">رجوع</a>
</div>
