<!-- Offcanvas to add AItemGroup -->

<div class="offcanvas offcanvas-end show" id="add-new-record" style="visibility: visible;" aria-modal="true" role="dialog">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel"> اضافة المديرية    </h5>
        <a asp-action="Index"> <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button></a>
    </div>
    <div class="offcanvas-body flex-grow-1">

        <form asp-action="AddOrEditViolations" class="add-new-record row g-2 pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="form-add-new-record" onsubmit="return false" novalidate="novalidate">


            <div class="col-sm-12">
                <label  class="form-label"> رقم المديرية</label>
                <div class="input-group input-group-merge">
                    <input type="number" id="VNumber" name="VNumber" class="form-control" placeholder="1" readonly />
                </div>
            </div>
           
           
            <div class="col-sm-12 fv-plugins-icon-container">
                  <label  class="form-label"> اسم المديرية</label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicFullname2" class="input-group-text">
                       
                    </span>
                    <input type="text" id="basicFullname" class="form-control dt-full-name" name="basicFullname" placeholder="  اسم المديرية   " aria-label="John Doe" aria-describedby="basicFullname2">
                </div>
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
        

    <div class="sm-12">
        <label class="form-label"> حالة المديرية </label>
        <select  id="select2Basic" required class=" form-select form-select-lg" placeholder="حالة المديرية" data-allow-clear="true">
            <option label=""> يرجى اختيار حالة المديرية </option>
            <option value="True"> نشط </option>
            <option value="False"> غير نشط </option>
        </select>
        <span  class="text-danger"></span>
     </div>

         
    <div class="d-grid gap-2 col-13 mx-auto mt-4">
        <button type="submit" class="btn btn-primary " id="type-success" name="submitButton">حفظ</button>
        <button class="btn btn-label-secondary " type="reset" data-bs-dismiss="offcanvas"> إلغاء</button>
    </div>

        </form>
    </div>
</div>